In [3]:
# Importa o pandas
from main import formata_txt
import pandas as pd
import datetime
import openpyxl

# Chama a função passando o nome do arquivo txt entre aspas, que será modificado

formata_txt("teste.txt")

# Lê o arquivo já modificado

df = pd.read_csv(

    # Nome do arquivo

    "teste.txt",

    # Usa o espaço entre as palavras para separar por colunas

    delim_whitespace=True,

    # Usa estes nomes como nomes das colunas (alterar a vontade)

    names=["Dept Sta", "Arvl Sta", "Dept Day", "Week-Day", "Pax-Subfleet", "Arvl-Hora", "Dept-Hora", "Svc Type", "FlightNumbeR", "FlightNumberArvl"],

    header=None,

)

# Imprime as linhas concactena e gera as duas Keys para filtro (Key e KeyX)
df['Concatenar'] = df['Arvl Sta'] + df['Dept Sta'] + df['Dept Day'] + df['Week-Day'] + df['Pax-Subfleet'] + df['Pax-Subfleet'] + df['Arvl-Hora'] + df['Dept-Hora'] + df['Svc Type']

df['Concatenar'] = df['Concatenar'].astype(str)
df['Key'] = df['Concatenar'].str.len()
df['KeyX'] = df['Svc Type'].astype(str)
df['KeyX'] = df['KeyX'].str.len()
df['Kdept'] = df['Dept-Hora'].astype(str)
df['Kdept'] = df['Kdept'].str.len()
df['Karvl'] = df['Arvl-Hora'].astype(str)
df['Karvl'] = df['Karvl'].str.len()
df_orig = df
df_orig

,Dept Sta,Arvl Sta,Dept Day,Week-Day,Pax-Subfleet,Arvl-Hora,Dept-Hora,Svc Type,FlightNumbeR,FlightNumberArvl,Concatenar,Key,KeyX,Kdept,Karvl
0,H5X411,5X411,01DEC29DEC,0004000,00076F,EZE0935,1310MIA,FF,NaN,NaN,5X411H5X41101DEC29DEC000400000076F00076FEZE093...,56,2,7,7
1,H5X411,5X411,05JAN23FEB,0004000,00076F,EZE0935,1300MIA,FF,NaN,NaN,5X411H5X41105JAN23FEB000400000076F00076FEZE093...,56,2,7,7
2,H5X411,5X411,02MAR09MAR,0004000,00076F,EZE0935,1255MIA,FF,NaN,NaN,5X411H5X41102MAR09MAR000400000076F00076FEZE093...,56,2,7,7
3,H5X411,5X411,16MAR23MAR,0004000,00076F,EZE0915,1050BOGMIA,FF,NaN,NaN,5X411H5X41116MAR23MAR000400000076F00076FEZE091...,59,2,10,7
4,H5X412,5X412,03NOV,-,00076F,MIA1850,2215SCLEZE,FF,NaN,NaN,5X412H5X41203NOV-00076F00076FMIA18502215SCLEZEFF,48,2,10,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6803,H,WD9622,15DEC,-,000733,-,0650GIG,P,NaN,NaN,WD9622H15DEC-000733000733-0650GIGP,34,1,7,1
6804,HWD9622,-,30DEC,-,000733,SJK1425,-,P,NaN,NaN,-HWD962230DEC-000733000733SJK1425-P,35,1,1,7
6805,HWD9625,-,04NOV,-,000733,SJK1440,-,P,NaN,NaN,-HWD962504NOV-000733000733SJK1440-P,35,1,1,7
6806,HWD9625,-,16NOV,-,000733,SJK1745,-,P,NaN,NaN,-HWD962516NOV-000733000733SJK1745-P,35,1,1,7
6807,H,WD9625,15DEC,-,000734,-,0700GIG,P,NaN,NaN,WD9625H15DEC-000734000734-0700GIGP,34,1,7,1

In [6]:
df_frame45 = df_orig.query('KeyX == 1  & Key == 45 & Kdept == 7')
df_frame45['FlightNumbeR'] = df_frame45['Arvl Sta']
df_frame45['Dept Sta'] = 'VCP'
df_frame45['Arvl Sta'] = df_frame45['Dept-Hora'].apply( lambda x: x[4:7])
df_frame45['Arvl Day'] = df_frame45['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame45['Dept Day'] = df_frame45['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame45['Trilho'] = ''
df_frame45['Pax'] = df_frame45['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame45['Pax-Subfleet'] = df_frame45['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame45['Arvl-Hora'] = '00:00'
df_frame45['Dept-Hora'] = df_frame45['Dept-Hora'].apply(lambda x: x[0:2] + ':' + x[2:4])
df_frame45 = df_frame45[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
    df_frame45

C:\Users\gabri\AppData\Local\Temp\ipykernel_15376\4049203866.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_frame45['FlightNumbeR'] = df_frame45['Arvl Sta']
C:\Users\gabri\AppData\Local\Temp\ipykernel_15376\4049203866.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_frame45['Dept Sta'] = 'VCP'
C:\Users\gabri\AppData\Local\Temp\ipykernel_15376\4049203866.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_frame45['Arvl Sta'] = df_frame45['Dept-Hora'].apply( lambda x: x[4:7])
C:\Users\gabri\AppData\Local\Temp\ipykernel_15376\4049203866.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_frame45['Arvl Day'] = df_frame45['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
C:\Users\gabri\AppData\Local\Temp\ipykernel_15376\4049203866.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_frame45['Dept Day'] = df_frame45['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
C:\Users\gabri\AppData\Local\Temp\ipykernel_15376\4049203866.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_frame45['Trilho'] = ''
C:\Users\gabri\AppData\Local\Temp\ipykernel_15376\4049203866.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_frame45['Pax'] = df_frame45['Pax-Subfleet'].apply( lambda x: x[0:3])
C:\Users\gabri\AppData\Local\Temp\ipykernel_15376\4049203866.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_frame45['Pax-Subfleet'] = df_frame45['Pax-Subfleet'].apply(lambda x: x[3:6])
C:\Users\gabri\AppData\Local\Temp\ipykernel_15376\4049203866.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_frame45['Arvl-Hora'] = '00:00'
C:\Users\gabri\AppData\Local\Temp\ipykernel_15376\4049203866.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_frame45['Dept-Hora'] = df_frame45['Dept-Hora'].apply(lambda x: x[0:2] + ':' + x[2:4])

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
72,VCP,MAO,30/OCT/2023 á 01/NOV/2023,30/OCT/2023 á 01/NOV/2023,06:45,00:00,73P,AD2002,NaN,,F,000,0200007
75,VCP,MAO,03/NOV/2023 á 04/NOV/2023,03/NOV/2023 á 04/NOV/2023,05:20,00:00,73P,AD2002,NaN,,F,000,0004500
76,VCP,MAO,05/NOV/2023 á 22/NOV/2023,05/NOV/2023 á 22/NOV/2023,07:00,00:00,73P,AD2002,NaN,,F,000,0200067
77,VCP,MAO,07/NOV/2023 á 21/NOV/2023,07/NOV/2023 á 21/NOV/2023,08:00,00:00,73P,AD2002,NaN,,F,000,1030000
80,VCP,MAO,17/NOV/2023 á 23/NOV/2023,17/NOV/2023 á 23/NOV/2023,07:00,00:00,73P,AD2002,NaN,,F,000,0034000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6746,VCP,MAO,11/MAR/2023 á 25/MAR/2023,11/MAR/2023 á 25/MAR/2023,11:55,00:00,734,WD5802,NaN,,F,000,0000060
6753,VCP,REC,03/NOV/2023 á 08/NOV/2023,03/NOV/2023 á 08/NOV/2023,13:50,00:00,734,WD5806,NaN,,F,000,0204000
6761,VCP,REC,19/JAN/2023 á 02/MAR/2023,19/JAN/2023 á 02/MAR/2023,13:50,00:00,734,WD5806,NaN,,F,000,0204000
6762,VCP,REC,07/MAR/2023 á 25/MAR/2023,07/MAR/2023 á 25/MAR/2023,12:25,00:00,734,WD5806,NaN,,F,000,0204060
6781,VCP,GIG,09/NOV/2023 á 15/NOV/2023,09/NOV/2023 á 15/NOV/2023,17:00,00:00,734,WD9620,NaN,,P,000,0230000

In [7]:
df_frame34 = df_orig.query('KeyX == 1  & Key == 34 & Kdept == 7')
df_frame34['FlightNumbeR'] = df_frame34['Arvl Sta']
df_frame34['Dept Sta'] = 'VCP'
df_frame34['Arvl Sta'] = df_frame34['Dept-Hora'].apply( lambda x: x[4:7])
df_frame34['Arvl Day'] = df_frame34['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame34['Dept Day'] = df_frame34['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame34['Trilho'] = ''
df_frame34['Pax'] = df_frame34['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame34['Pax-Subfleet'] = df_frame34['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame34['Arvl-Hora'] = '00:00'
df_frame34['Dept-Hora'] = df_frame34['Dept-Hora'].apply(lambda x: x[0:2] + ':' + x[2:4])
df_frame34 = df_frame34[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
df_frame34

C:\Users\gabri\AppData\Local\Temp\ipykernel_15376\935544994.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_frame34['FlightNumbeR'] = df_frame34['Arvl Sta']
C:\Users\gabri\AppData\Local\Temp\ipykernel_15376\935544994.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_frame34['Dept Sta'] = 'VCP'
C:\Users\gabri\AppData\Local\Temp\ipykernel_15376\935544994.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_frame34['Arvl Sta'] = df_frame34['Dept-Hora'].apply( lambda x: x[4:7])
C:\Users\gabri\AppData\Local\Temp\ipykernel_15376\935544994.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_frame34['Arvl Day'] = df_frame34['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
C:\Users\gabri\AppData\Local\Temp\ipykernel_15376\935544994.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_frame34['Dept Day'] = df_frame34['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
C:\Users\gabri\AppData\Local\Temp\ipykernel_15376\935544994.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_frame34['Trilho'] = ''
C:\Users\gabri\AppData\Local\Temp\ipykernel_15376\935544994.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_frame34['Pax'] = df_frame34['Pax-Subfleet'].apply( lambda x: x[0:3])
C:\Users\gabri\AppData\Local\Temp\ipykernel_15376\935544994.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_frame34['Pax-Subfleet'] = df_frame34['Pax-Subfleet'].apply(lambda x: x[3:6])
C:\Users\gabri\AppData\Local\Temp\ipykernel_15376\935544994.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_frame34['Arvl-Hora'] = '00:00'
C:\Users\gabri\AppData\Local\Temp\ipykernel_15376\935544994.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_frame34['Dept-Hora'] = df_frame34['Dept-Hora'].apply(lambda x: x[0:2] + ':' + x[2:4])

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
73,VCP,MAO,31/OCT/2023,31/OCT/2023,08:30,00:00,73P,AD2002,NaN,,F,000,-
74,VCP,MAO,02/NOV/2023,02/NOV/2023,07:20,00:00,73P,AD2002,NaN,,F,000,-
78,VCP,MAO,10/NOV/2023,10/NOV/2023,07:30,00:00,73P,AD2002,NaN,,F,000,-
79,VCP,MAO,11/NOV/2023,11/NOV/2023,07:55,00:00,73P,AD2002,NaN,,F,000,-
84,VCP,MAO,30/NOV/2023,30/NOV/2023,07:55,00:00,73P,AD2002,NaN,,F,000,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6794,VCP,GIG,08/DEC/2023,08/DEC/2023,07:40,00:00,733,WD9621,NaN,,P,000,-
6800,VCP,GIG,22/NOV/2023,22/NOV/2023,07:05,00:00,734,WD9622,NaN,,P,000,-
6801,VCP,SJK,05/DEC/2023,05/DEC/2023,13:30,00:00,734,WD9622,NaN,,P,000,-
6803,VCP,GIG,15/DEC/2023,15/DEC/2023,06:50,00:00,733,WD9622,NaN,,P,000,-
6807,VCP,GIG,15/DEC/2023,15/DEC/2023,07:00,00:00,734,WD9625,NaN,,P,000,-

In [9]:
fusao = pd.concat([df_frame45],[df_frame34], ignore_index=True)

NameError: name 'test1' is not defined