In [153]:
# Importa o pandas
from main import formata_txt
import pandas as pd
import datetime
import openpyxl

# Chama a função passando o nome do arquivo txt entre aspas, que será modificado

formata_txt("teste.txt")

# Lê o arquivo já modificado

df = pd.read_csv(

    # Nome do arquivo

    "teste.txt",

    # Usa o espaço entre as palavras para separar por colunas

    delim_whitespace=True,

    # Usa estes nomes como nomes das colunas (alterar a vontade)

    names=["Dept Sta", "Arvl Sta", "Dept Day", "Week-Day", "Pax-Subfleet", "Arvl-Hora", "Dept-Hora", "Svc Type", "FlightNumbeR", "FlightNumberArvl"],

    header=None,

)

# Imprime as linhas concactena e gera as duas Keys para filtro (Key e KeyX)
df['Concatenar'] = df['Arvl Sta'] + df['Dept Sta'] + df['Dept Day'] + df['Week-Day'] + df['Pax-Subfleet'] + df['Pax-Subfleet'] + df['Arvl-Hora'] + df['Dept-Hora'] + df['Svc Type']

df['Concatenar'] = df['Concatenar'].astype(str)
df['Key'] = df['Concatenar'].str.len()
df['KeyX'] = df['Svc Type'].astype(str)
df['KeyX'] = df['KeyX'].str.len()
df['Kdept'] = df['Dept-Hora'].astype(str)
df['Kdept'] = df['Kdept'].str.len()
df['Karvl'] = df['Arvl-Hora'].astype(str)
df['Karvl'] = df['Karvl'].str.len()
df_orig = df
df_orig

,Dept Sta,Arvl Sta,Dept Day,Week-Day,Pax-Subfleet,Arvl-Hora,Dept-Hora,Svc Type,FlightNumbeR,FlightNumberArvl,Concatenar,Key,KeyX,Kdept,Karvl
0,H5X410,5X410,02NOV,-,00076F,MIA1905,2220SCLEZE,FF,NaN,NaN,5X410H5X41002NOV-00076F00076FMIA19052220SCLEZEFF,48,2,10,7
1,H5X410,5X410,09NOV08MAR,0030000,00076F,MIA1955,2220SCLEZE,FF,NaN,NaN,5X410H5X41009NOV08MAR003000000076F00076FMIA195...,59,2,10,7
2,H5X410,5X410,15MAR22MAR,0030000,00076F,MIA1855,2210SCLEZE,FF,NaN,NaN,5X410H5X41015MAR22MAR003000000076F00076FMIA185...,59,2,10,7
3,H5X411,5X411,03NOV,-,00076F,EZE0915,1045BOGMIA,FF,NaN,NaN,5X411H5X41103NOV-00076F00076FEZE09151045BOGMIAFF,48,2,10,7
4,H5X411,5X411,10NOV24NOV,0004000,00076F,EZE0925,1330MIA,FF,NaN,NaN,5X411H5X41110NOV24NOV000400000076F00076FEZE092...,56,2,7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6809,HWD9622,-,30DEC,-,000733,SJK1425,-,P,NaN,NaN,-HWD962230DEC-000733000733SJK1425-P,35,1,1,7
6810,HWD9625,-,04NOV,-,000733,SJK1440,-,P,NaN,NaN,-HWD962504NOV-000733000733SJK1440-P,35,1,1,7
6811,HWD9625,-,16NOV,-,000733,SJK1745,-,P,NaN,NaN,-HWD962516NOV-000733000733SJK1745-P,35,1,1,7
6812,H,WD9625,15DEC,-,000734,-,0700GIG,P,NaN,NaN,WD9625H15DEC-000734000734-0700GIGP,34,1,7,1
6813,H,WD9626,08DEC,-,000733,-,1315SJK,P,NaN,NaN,WD9626H08DEC-000733000733-1315SJKP,34,1,7,1

In [154]:
df_frame45 = df_orig.query('KeyX == 1  & Key == 45 & Kdept == 7').copy()
df_frame45['FlightNumbeR'] = df_frame45['Arvl Sta']
df_frame45['Dept Sta'] = 'VCP'
df_frame45['Arvl Sta'] = df_frame45['Dept-Hora'].apply( lambda x: x[4:7])
df_frame45['Arvl Day'] = df_frame45['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame45['Dept Day'] = df_frame45['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame45['Trilho'] = ''
df_frame45['Pax'] = df_frame45['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame45['Pax-Subfleet'] = df_frame45['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame45['Arvl-Hora'] = '00:00'
df_frame45['Dept-Hora'] = df_frame45['Dept-Hora'].apply(lambda x: x[0:2] + ':' + x[2:4])
df_frame45 = df_frame45[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p1 = df_frame45
p1

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
77,VCP,MAO,30/OCT/2023 á 01/NOV/2023,30/OCT/2023 á 01/NOV/2023,06:45,00:00,73P,AD2002,NaN,,F,000,0200007
80,VCP,MAO,03/NOV/2023 á 04/NOV/2023,03/NOV/2023 á 04/NOV/2023,05:20,00:00,73P,AD2002,NaN,,F,000,0004500
81,VCP,MAO,05/NOV/2023 á 22/NOV/2023,05/NOV/2023 á 22/NOV/2023,07:00,00:00,73P,AD2002,NaN,,F,000,0200067
82,VCP,MAO,07/NOV/2023 á 21/NOV/2023,07/NOV/2023 á 21/NOV/2023,08:00,00:00,73P,AD2002,NaN,,F,000,1030000
85,VCP,MAO,17/NOV/2023 á 23/NOV/2023,17/NOV/2023 á 23/NOV/2023,07:00,00:00,73P,AD2002,NaN,,F,000,0034000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6751,VCP,MAO,11/MAR/2023 á 25/MAR/2023,11/MAR/2023 á 25/MAR/2023,11:55,00:00,734,WD5802,NaN,,F,000,0000060
6758,VCP,REC,03/NOV/2023 á 08/NOV/2023,03/NOV/2023 á 08/NOV/2023,13:50,00:00,734,WD5806,NaN,,F,000,0204000
6766,VCP,REC,19/JAN/2023 á 02/MAR/2023,19/JAN/2023 á 02/MAR/2023,13:50,00:00,734,WD5806,NaN,,F,000,0204000
6767,VCP,REC,07/MAR/2023 á 25/MAR/2023,07/MAR/2023 á 25/MAR/2023,12:25,00:00,734,WD5806,NaN,,F,000,0204060
6786,VCP,GIG,09/NOV/2023 á 15/NOV/2023,09/NOV/2023 á 15/NOV/2023,17:00,00:00,734,WD9620,NaN,,P,000,0230000

In [155]:
df_frame34 = df_orig.query('KeyX == 1  & Key == 34 & Kdept == 7').copy()
df_frame34['FlightNumbeR'] = df_frame34['Arvl Sta']
df_frame34['Dept Sta'] = 'VCP'
df_frame34['Arvl Sta'] = df_frame34['Dept-Hora'].apply( lambda x: x[4:7])
df_frame34['Arvl Day'] = df_frame34['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame34['Dept Day'] = df_frame34['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame34['Trilho'] = ''
df_frame34['Pax'] = df_frame34['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame34['Pax-Subfleet'] = df_frame34['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame34['Arvl-Hora'] = '00:00'
df_frame34['Dept-Hora'] = df_frame34['Dept-Hora'].apply(lambda x: x[0:2] + ':' + x[2:4])
df_frame34 = df_frame34[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p2 = df_frame34
p2

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
78,VCP,MAO,31/OCT/2023,31/OCT/2023,08:30,00:00,73P,AD2002,NaN,,F,000,-
79,VCP,MAO,02/NOV/2023,02/NOV/2023,07:20,00:00,73P,AD2002,NaN,,F,000,-
83,VCP,MAO,10/NOV/2023,10/NOV/2023,07:30,00:00,73P,AD2002,NaN,,F,000,-
84,VCP,MAO,11/NOV/2023,11/NOV/2023,07:55,00:00,73P,AD2002,NaN,,F,000,-
89,VCP,MAO,30/NOV/2023,30/NOV/2023,07:55,00:00,73P,AD2002,NaN,,F,000,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6805,VCP,GIG,22/NOV/2023,22/NOV/2023,07:05,00:00,734,WD9622,NaN,,P,000,-
6806,VCP,SJK,05/DEC/2023,05/DEC/2023,13:30,00:00,734,WD9622,NaN,,P,000,-
6808,VCP,GIG,15/DEC/2023,15/DEC/2023,06:50,00:00,733,WD9622,NaN,,P,000,-
6812,VCP,GIG,15/DEC/2023,15/DEC/2023,07:00,00:00,734,WD9625,NaN,,P,000,-
6813,VCP,SJK,08/DEC/2023,08/DEC/2023,13:15,00:00,733,WD9626,NaN,,P,000,-

In [156]:
df_frame48 = df_orig.query('KeyX == 1  & Key == 48 & Kdept == 10').copy()
df_frame48['FlightNumbeR'] = df_frame48['Arvl Sta']
df_frame48['Dept Sta'] = 'VCP'
df_frame48['Arvl Sta'] = df_frame48['Dept-Hora'].apply( lambda x: x[4:7])
df_frame48['Arvl Day'] = df_frame48['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame48['Dept Day'] = df_frame48['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame48['Trilho'] = ''
df_frame48['Pax'] = df_frame48['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame48['Pax-Subfleet'] = df_frame48['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame48['Arvl-Hora'] = '00:00'
df_frame48['Dept-Hora'] = df_frame48['Dept-Hora'].apply(lambda x: x[0:2] + ':' + x[2:4])
df_frame48 = df_frame48[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p3 = df_frame48
p3

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
147,VCP,BEL,31/OCT/2023 á 09/NOV/2023,31/OCT/2023 á 09/NOV/2023,09:50,00:00,E95,AD2020,NaN,,F,000,1234560
148,VCP,BEL,12/NOV/2023 á 31/DEC/2023,12/NOV/2023 á 31/DEC/2023,09:50,00:00,E95,AD2020,NaN,,F,000,1230060
149,VCP,BEL,01/DEC/2023 á 09/DEC/2023,01/DEC/2023 á 09/DEC/2023,09:50,00:00,E95,AD2020,NaN,,F,000,0004500
150,VCP,BEL,22/DEC/2023 á 30/DEC/2023,22/DEC/2023 á 30/DEC/2023,09:50,00:00,E95,AD2020,NaN,,F,000,0004500
151,VCP,BEL,02/JAN/2023 á 09/MAR/2023,02/JAN/2023 á 09/MAR/2023,15:40,00:00,E95,AD2020,NaN,,F,000,1234560
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5032,VCP,CGR,07/JAN/2023 á 28/JAN/2023,07/JAN/2023 á 28/JAN/2023,13:20,00:00,295,AD4877,NaN,,J,136,0000060
5573,VCP,MCO,18/DEC/2023 á 19/DEC/2023,18/DEC/2023 á 19/DEC/2023,09:15,00:00,332,AD8706,NaN,,J,242,1000007
5580,VCP,MCO,12/JAN/2023 á 26/JAN/2023,12/JAN/2023 á 26/JAN/2023,09:15,00:00,332,AD8706,NaN,,J,242,0004000
5621,VCP,MCO,10/DEC/2023 á 17/DEC/2023,10/DEC/2023 á 17/DEC/2023,23:10,00:00,332,AD8708,NaN,,J,271,0000060
5636,VCP,MCO,20/JAN/2023 á 27/JAN/2023,20/JAN/2023 á 27/JAN/2023,23:10,00:00,359,AD8708,NaN,,J,334,0030500

In [157]:
df_frame37 = df_orig.query('KeyX == 1  & Key == 37 & Kdept == 1 & Karvl == 10').copy()
df_frame37['FlightNumberArvl'] = df_frame37['Dept Sta'].apply(lambda x: x[1:6])
df_frame37['Dept Sta'] = df_frame37['Arvl-Hora'].apply(lambda x: x[3:6])
df_frame37['Arvl Sta'] = 'VCP'
df_frame37['Arvl Day'] = df_frame37['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame37['Dept Day'] = df_frame37['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame37['Trilho'] = ''
df_frame37['Pax'] = df_frame37['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame37['Pax-Subfleet'] = df_frame37['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame37['Arvl-Hora'] = df_frame37['Arvl-Hora'].apply(lambda x: x[6:8] + ':' + x[8:10])
df_frame37['Dept-Hora'] = '00:00'
df_frame37 = df_frame37[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p40 = df_frame37
p40

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
6295,MIA,VCP,25/MAR/2023,25/MAR/2023,00:00,19:35,77X,NaN,KE273,,F,000,-

In [158]:
df_frame37 = df_orig.query('KeyX == 1  & Key == 37  & Kdept == 10').copy()
df_frame37

,Dept Sta,Arvl Sta,Dept Day,Week-Day,Pax-Subfleet,Arvl-Hora,Dept-Hora,Svc Type,FlightNumbeR,FlightNumberArvl,Concatenar,Key,KeyX,Kdept,Karvl
169,H,AD2030,16DEC,-,000E95,-,0540BELFOR,F,NaN,NaN,AD2030H16DEC-000E95000E95-0540BELFORF,37,1,10,1
270,H,AD2406,23NOV,-,17432N,-,0840IGUIGU,J,NaN,NaN,AD2406H23NOV-17432N17432N-0840IGUIGUJ,37,1,10,1
357,H,AD2514,15FEB,-,118E95,-,0920CMGVCP,J,NaN,NaN,AD2514H15FEB-118E95118E95-0920CMGVCPJ,37,1,10,1
359,H,AD2514,22FEB,-,136295,-,0920CMGVCP,J,NaN,NaN,AD2514H22FEB-136295136295-0920CMGVCPJ,37,1,10,1
387,H,AD2536,30DEC,-,136295,-,1400SSASSA,J,NaN,NaN,AD2536H30DEC-136295136295-1400SSASSAJ,37,1,10,1
466,H,AD2613,12NOV,-,17432N,-,0905FLNFLN,J,NaN,NaN,AD2613H12NOV-17432N17432N-0905FLNFLNJ,37,1,10,1
472,H,AD2613,03DEC,-,17432N,-,0905FLNFLN,J,NaN,NaN,AD2613H03DEC-17432N17432N-0905FLNFLNJ,37,1,10,1
832,H,AD2690,27FEB,-,118E95,-,0920CMGVCP,J,NaN,NaN,AD2690H27FEB-118E95118E95-0920CMGVCPJ,37,1,10,1
1407,H,AD2822,08JAN,-,118E95,-,1740GIGGIG,J,NaN,NaN,AD2822H08JAN-118E95118E95-1740GIGGIGJ,37,1,10,1
1409,H,AD2822,19FEB,-,118E95,-,1740GIGGIG,J,NaN,NaN,AD2822H19FEB-118E95118E95-1740GIGGIGJ,37,1,10,1
1740,H,AD2904,12NOV,-,136295,-,1015PHBVCP,J,NaN,NaN,AD2904H12NOV-136295136295-1015PHBVCPJ,37,1,10,1
1743,H,AD2904,15NOV,-,136295,-,1055JJDVCP,J,NaN,NaN,AD2904H15NOV-136295136295-1055JJDVCPJ,37,1,10,1
1759,H,AD2904,26FEB,-,136295,-,1020PHBVCP,J,NaN,NaN,AD2904H26FEB-136295136295-1020PHBVCPJ,37,1,10,1
3118,H,AD4282,30OCT,-,136295,-,0820CGRCGR,J,NaN,NaN,AD4282H30OCT-136295136295-0820CGRCGRJ,37,1,10,1
3122,H,AD4282,23NOV,-,136295,-,0820CGRCGR,J,NaN,NaN,AD4282H23NOV-136295136295-0820CGRCGRJ,37,1,10,1
3620,H,AD4362,31OCT,-,118E95,-,0815NVTPOA,J,NaN,NaN,AD4362H31OCT-118E95118E95-0815NVTPOAJ,37,1,10,1
3623,H,AD4362,05NOV,-,118E95,-,0805NVTPOA,J,NaN,NaN,AD4362H05NOV-118E95118E95-0805NVTPOAJ,37,1,10,1
3927,H,AD4451,30OCT,-,17432N,-,2225MAOMAO,J,NaN,NaN,AD4451H30OCT-17432N17432N-2225MAOMAOJ,37,1,10,1
3929,H,AD4451,11NOV,-,17432N,-,2225MAOMAO,J,NaN,NaN,AD4451H11NOV-17432N17432N-2225MAOMAOJ,37,1,10,1
3933,H,AD4451,04DEC,-,17432N,-,2225MAOMAO,J,NaN,NaN,AD4451H04DEC-17432N17432N-2225MAOMAOJ,37,1,10,1
4115,H,AD4548,30DEC,-,17432N,-,1810BSBBSB,J,NaN,NaN,AD4548H30DEC-17432N17432N-1810BSBBSBJ,37,1,10,1
4545,H,AD4745,30DEC,-,17432N,-,1310BSBBSB,J,NaN,NaN,AD4745H30DEC-17432N17432N-1310BSBBSBJ,37,1,10,1
4751,H,AD4840,06NOV,-,21432Q,-,0820BELMCP,J,NaN,NaN,AD4840H06NOV-21432Q21432Q-0820BELMCPJ,37,1,10,1
4753,H,AD4840,26NOV,-,17432N,-,0815BELMCP,J,NaN,NaN,AD4840H26NOV-17432N17432N-0815BELMCPJ,37,1,10,1
4759,H,AD4840,06FEB,-,17432N,-,0815BELMCP,J,NaN,NaN,AD4840H06FEB-17432N17432N-0815BELMCPJ,37,1,10,1
5019,H,AD4877,05NOV,-,136295,-,1320CGRCMG,J,NaN,NaN,AD4877H05NOV-136295136295-1320CGRCMGJ,37,1,10,1
5623,H,AD8708,18DEC,-,334359,-,2310MCOMCO,J,NaN,NaN,AD8708H18DEC-334359334359-2310MCOMCOJ,37,1,10,1
6404,H,M38460,28DEC,-,00076V,-,1155SCLMIA,F,NaN,NaN,M38460H28DEC-00076V00076V-1155SCLMIAF,37,1,10,1
6457,H,M38494,02NOV,-,00076V,-,2100EZESCL,F,NaN,NaN,M38494H02NOV-00076V00076V-2100EZESCLF,37,1,10,1
6692,H,W8926Z,13DEC,-,000763,-,0230BOGMIA,H,NaN,NaN,W8926ZH13DEC-000763000763-0230BOGMIAH,37,1,10,1
6694,H,W81926,12NOV,-,000763,-,0630MIAYHM,H,NaN,NaN,W81926H12NOV-000763000763-0630MIAYHMH,37,1,10,1

In [159]:
df_frame37 = df_orig.query('KeyX == 1  & Key == 37  & Kdept == 10').copy()
df_frame37['FlightNumbeR'] = df_frame37['Arvl Sta'].apply( lambda x: x[0:8])
df_frame37['Dept Sta'] = 'VCP'
df_frame37['Arvl Sta'] = df_frame37['Dept-Hora'].apply( lambda x: x[4:7])
df_frame37['Arvl Day'] = df_frame37['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame37['Dept Day'] = df_frame37['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame37['Trilho'] = ''
df_frame37['Pax'] = df_frame37['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame37['Pax-Subfleet'] = df_frame37['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame37['Arvl-Hora'] = df_frame37['Dept-Hora'].apply(lambda x: x[0:2] + ':' + x[2:4])
df_frame37['Dept-Hora'] = '00:00'
df_frame37 = df_frame37[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p5 = df_frame37
p5

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
169,VCP,BEL,16/DEC/2023,16/DEC/2023,00:00,05:40,E95,AD2030,NaN,,F,000,-
270,VCP,IGU,23/NOV/2023,23/NOV/2023,00:00,08:40,32N,AD2406,NaN,,J,174,-
357,VCP,CMG,15/FEB/2023,15/FEB/2023,00:00,09:20,E95,AD2514,NaN,,J,118,-
359,VCP,CMG,22/FEB/2023,22/FEB/2023,00:00,09:20,295,AD2514,NaN,,J,136,-
387,VCP,SSA,30/DEC/2023,30/DEC/2023,00:00,14:00,295,AD2536,NaN,,J,136,-
466,VCP,FLN,12/NOV/2023,12/NOV/2023,00:00,09:05,32N,AD2613,NaN,,J,174,-
472,VCP,FLN,03/DEC/2023,03/DEC/2023,00:00,09:05,32N,AD2613,NaN,,J,174,-
832,VCP,CMG,27/FEB/2023,27/FEB/2023,00:00,09:20,E95,AD2690,NaN,,J,118,-
1407,VCP,GIG,08/JAN/2023,08/JAN/2023,00:00,17:40,E95,AD2822,NaN,,J,118,-
1409,VCP,GIG,19/FEB/2023,19/FEB/2023,00:00,17:40,E95,AD2822,NaN,,J,118,-
1740,VCP,PHB,12/NOV/2023,12/NOV/2023,00:00,10:15,295,AD2904,NaN,,J,136,-
1743,VCP,JJD,15/NOV/2023,15/NOV/2023,00:00,10:55,295,AD2904,NaN,,J,136,-
1759,VCP,PHB,26/FEB/2023,26/FEB/2023,00:00,10:20,295,AD2904,NaN,,J,136,-
3118,VCP,CGR,30/OCT/2023,30/OCT/2023,00:00,08:20,295,AD4282,NaN,,J,136,-
3122,VCP,CGR,23/NOV/2023,23/NOV/2023,00:00,08:20,295,AD4282,NaN,,J,136,-
3620,VCP,NVT,31/OCT/2023,31/OCT/2023,00:00,08:15,E95,AD4362,NaN,,J,118,-
3623,VCP,NVT,05/NOV/2023,05/NOV/2023,00:00,08:05,E95,AD4362,NaN,,J,118,-
3927,VCP,MAO,30/OCT/2023,30/OCT/2023,00:00,22:25,32N,AD4451,NaN,,J,174,-
3929,VCP,MAO,11/NOV/2023,11/NOV/2023,00:00,22:25,32N,AD4451,NaN,,J,174,-
3933,VCP,MAO,04/DEC/2023,04/DEC/2023,00:00,22:25,32N,AD4451,NaN,,J,174,-
4115,VCP,BSB,30/DEC/2023,30/DEC/2023,00:00,18:10,32N,AD4548,NaN,,J,174,-
4545,VCP,BSB,30/DEC/2023,30/DEC/2023,00:00,13:10,32N,AD4745,NaN,,J,174,-
4751,VCP,BEL,06/NOV/2023,06/NOV/2023,00:00,08:20,32Q,AD4840,NaN,,J,214,-
4753,VCP,BEL,26/NOV/2023,26/NOV/2023,00:00,08:15,32N,AD4840,NaN,,J,174,-
4759,VCP,BEL,06/FEB/2023,06/FEB/2023,00:00,08:15,32N,AD4840,NaN,,J,174,-
5019,VCP,CGR,05/NOV/2023,05/NOV/2023,00:00,13:20,295,AD4877,NaN,,J,136,-
5623,VCP,MCO,18/DEC/2023,18/DEC/2023,00:00,23:10,359,AD8708,NaN,,J,334,-
6404,VCP,SCL,28/DEC/2023,28/DEC/2023,00:00,11:55,76V,M38460,NaN,,F,000,-
6457,VCP,EZE,02/NOV/2023,02/NOV/2023,00:00,21:00,76V,M38494,NaN,,F,000,-
6692,VCP,BOG,13/DEC/2023,13/DEC/2023,00:00,02:30,763,W8926Z,NaN,,H,000,-
6694,VCP,MIA,12/NOV/2023,12/NOV/2023,00:00,06:30,763,W81926,NaN,,H,000,-

In [160]:
df_frame36 = df_orig.query('KeyX == 1  & Key == 36 & Kdept == 10').copy()
df_frame36['FlightNumbeR'] = df_frame36['Arvl Sta']
df_frame36['Dept Sta'] = 'VCP'
df_frame36['Arvl Sta'] = df_frame36['Dept-Hora'].apply( lambda x: x[4:7])
df_frame36['Arvl Day'] = df_frame36['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame36['Dept Day'] = df_frame36['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame36['Trilho'] = ''
df_frame36['Pax'] = df_frame36['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame36['Pax-Subfleet'] = df_frame36['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame36['Arvl-Hora'] = '00:00'
df_frame36['Dept-Hora'] = df_frame36['Dept-Hora'].apply(lambda x: x[0:2] + ':' + x[2:4])
df_frame36 = df_frame36[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p6 = df_frame36
p6

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
6296,VCP,SCL,29/OCT/2023,29/OCT/2023,21:30,00:00,77X,KE274,NaN,,F,000,-

In [161]:
df_frame46 = df_orig.query('KeyX == 1  & Key == 46 & Kdept == 1').copy()
df_frame46['FlightNumberArvl'] = df_frame46['Dept Sta'].apply(lambda x: x[1:8])
df_frame46['Dept Sta'] = df_frame46['Arvl-Hora'].apply(lambda x: x[0:3])
df_frame46['FlightNumbeR'] = df_frame46['Arvl Sta']
df_frame46['Arvl Day'] = df_frame46['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame46['Dept Day'] = df_frame46['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame46['Trilho'] = ''
df_frame46['Pax'] = df_frame46['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame46['Pax-Subfleet'] = df_frame46['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame46['Dept-Hora'] = df_frame46['Arvl-Hora'].apply(lambda x: x[3:5]+ ':' + x[5:7])
df_frame46['Arvl-Hora'] = '00:00'
df_frame46['Arvl Sta'] = 'VCP'
df_frame46 = df_frame46[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p7 = df_frame46
p7

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
97,MAO,VCP,30/OCT/2023 á 01/NOV/2023,30/OCT/2023 á 01/NOV/2023,15:20,00:00,73P,-,AD2003,,F,000,0200007
100,MAO,VCP,03/NOV/2023 á 04/NOV/2023,03/NOV/2023 á 04/NOV/2023,14:50,00:00,73P,-,AD2003,,F,000,0004500
101,MAO,VCP,05/NOV/2023 á 15/NOV/2023,05/NOV/2023 á 15/NOV/2023,15:35,00:00,73P,-,AD2003,,F,000,0200067
102,MAO,VCP,07/NOV/2023 á 16/NOV/2023,07/NOV/2023 á 16/NOV/2023,16:35,00:00,73P,-,AD2003,,F,000,1030000
103,MAO,VCP,10/NOV/2023 á 17/NOV/2023,10/NOV/2023 á 17/NOV/2023,16:05,00:00,73P,-,AD2003,,F,000,0004000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6749,BSB,VCP,01/FEB/2023 á 24/MAR/2023,01/FEB/2023 á 24/MAR/2023,11:20,00:00,734,-,WD5801,,F,000,0030500
6757,MAO,VCP,11/MAR/2023 á 25/MAR/2023,11/MAR/2023 á 25/MAR/2023,20:45,00:00,734,-,WD5803,,F,000,0000060
6775,REC,VCP,19/JAN/2023 á 02/MAR/2023,19/JAN/2023 á 02/MAR/2023,21:10,00:00,734,-,WD5807,,F,000,0204000
6776,REC,VCP,07/MAR/2023 á 25/MAR/2023,07/MAR/2023 á 25/MAR/2023,19:45,00:00,734,-,WD5807,,F,000,0204060
6801,CWB,VCP,04/JAN/2023 á 10/JAN/2023,04/JAN/2023 á 10/JAN/2023,13:30,00:00,734,-,WD9621,,P,000,0230000

In [162]:
df_frame35 = df_orig.query('KeyX == 1  & Key == 35 & Kdept == 1').copy()
df_frame35['FlightNumberArvl'] = df_frame35['Dept Sta']
df_frame35['Dept Sta'] = df_frame35['Arvl-Hora'].apply( lambda x: x[0:3])
df_frame35['Arvl Sta'] = 'VCP'
df_frame35['Arvl Day'] = df_frame35['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame35['Dept Day'] = df_frame35['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame35['Trilho'] = ''
df_frame35['Pax'] = df_frame35['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame35['Pax-Subfleet'] = df_frame35['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame35['Arvl-Hora'] = df_frame35['Arvl-Hora'].apply( lambda x: x[3:5] + ':' + x[5:7])
df_frame35['Dept-Hora'] = '00:00'
df_frame35 = df_frame35[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p8 = df_frame35
p8

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
98,MAO,VCP,31/OCT/2023,31/OCT/2023,00:00,17:05,73P,NaN,HAD2003,,F,000,-
99,MAO,VCP,02/NOV/2023,02/NOV/2023,00:00,15:55,73P,NaN,HAD2003,,F,000,-
104,MAO,VCP,11/NOV/2023,11/NOV/2023,00:00,16:30,73P,NaN,HAD2003,,F,000,-
156,MAO,VCP,30/NOV/2023,30/NOV/2023,00:00,23:05,E95,NaN,HAD2021,,F,000,-
162,MAO,VCP,02/FEB/2023,02/FEB/2023,00:00,04:45,E95,NaN,HAD2023,,F,000,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6804,CNF,VCP,17/NOV/2023,17/NOV/2023,00:00,13:35,734,NaN,HWD9622,,P,000,-
6807,CGR,VCP,08/DEC/2023,08/DEC/2023,00:00,15:15,734,NaN,HWD9622,,P,000,-
6809,SJK,VCP,30/DEC/2023,30/DEC/2023,00:00,14:25,733,NaN,HWD9622,,P,000,-
6810,SJK,VCP,04/NOV/2023,04/NOV/2023,00:00,14:40,733,NaN,HWD9625,,P,000,-
6811,SJK,VCP,16/NOV/2023,16/NOV/2023,00:00,17:45,733,NaN,HWD9625,,P,000,-

In [163]:
df_frame38 = df_orig.query('KeyX == 1  & Key == 38 & Kdept == 1').copy()
df_frame38['FlightNumberArvl'] = df_frame38['Dept Sta'].apply(lambda x: x[1:8])
df_frame38['Dept Sta'] = df_frame38['Arvl-Hora'].apply( lambda x: x[3:6])
df_frame38['Arvl Sta'] = 'VCP'
df_frame38['Arvl Day'] = df_frame38['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame38['Dept Day'] = df_frame38['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame38['Trilho'] = ''
df_frame38['Pax'] = df_frame38['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame38['Pax-Subfleet'] = df_frame38['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame38['Arvl-Hora'] = df_frame38['Arvl-Hora'].apply( lambda x: x[6:8] + ':' + x[8:10])
df_frame38['Dept-Hora'] = '00:00'
df_frame38 = df_frame38[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p9 = df_frame38
p9

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
139,MAO,VCP,31/OCT/2023,31/OCT/2023,00:00,23:30,E95,NaN,AD2011,,F,000,-
143,MAO,VCP,09/DEC/2023,09/DEC/2023,00:00,23:30,E95,NaN,AD2011,,F,000,-
145,MAO,VCP,16/DEC/2023,16/DEC/2023,00:00,23:10,E95,NaN,AD2011,,F,000,-
280,IGU,VCP,23/NOV/2023,23/NOV/2023,00:00,12:35,32N,NaN,AD2407,,J,174,-
356,BYO,VCP,15/FEB/2023,15/FEB/2023,00:00,15:35,E95,NaN,AD2514,,J,118,-
358,BYO,VCP,22/FEB/2023,22/FEB/2023,00:00,15:35,295,NaN,AD2514,,J,136,-
396,SSA,VCP,30/DEC/2023,30/DEC/2023,00:00,19:40,295,NaN,AD2551,,J,136,-
928,BEL,VCP,26/NOV/2023,26/NOV/2023,00:00,20:40,32N,NaN,AD2705,,J,174,-
935,BEL,VCP,06/FEB/2023,06/FEB/2023,00:00,20:40,32N,NaN,AD2705,,J,174,-
1734,JJD,VCP,30/OCT/2023,30/OCT/2023,00:00,19:40,295,NaN,AD2904,,J,136,-
1739,JJD,VCP,06/NOV/2023,06/NOV/2023,00:00,19:30,295,NaN,AD2904,,J,136,-
1741,JJD,VCP,12/NOV/2023,12/NOV/2023,00:00,19:25,295,NaN,AD2904,,J,136,-
1742,PHB,VCP,15/NOV/2023,15/NOV/2023,00:00,19:50,295,NaN,AD2904,,J,136,-
1748,JJD,VCP,18/DEC/2023,18/DEC/2023,00:00,20:30,295,NaN,AD2904,,J,136,-
1760,JJD,VCP,26/FEB/2023,26/FEB/2023,00:00,19:45,295,NaN,AD2904,,J,136,-
2184,MAO,VCP,30/OCT/2023,30/OCT/2023,00:00,21:00,32N,NaN,AD4013,,J,174,-
2185,MAO,VCP,31/OCT/2023,31/OCT/2023,00:00,20:45,32N,NaN,AD4013,,J,174,-
2247,BSB,VCP,30/DEC/2023,30/DEC/2023,00:00,22:25,32N,NaN,AD4021,,J,174,-
3955,FLN,VCP,12/NOV/2023,12/NOV/2023,00:00,12:25,32N,NaN,AD4483,,J,174,-
3961,FLN,VCP,03/DEC/2023,03/DEC/2023,00:00,12:25,32N,NaN,AD4483,,J,174,-
4312,GIG,VCP,22/NOV/2023,22/NOV/2023,00:00,21:00,E95,NaN,AD4614,,J,118,-
4422,BSB,VCP,30/DEC/2023,30/DEC/2023,00:00,17:15,32N,NaN,AD4696,,J,174,-
5816,SDU,VCP,30/JAN/2023,30/JAN/2023,00:00,14:10,32N,NaN,AD9013,,G,174,-
6660,ASU,VCP,14/NOV/2023,14/NOV/2023,00:00,04:05,76V,NaN,UC1713,,F,000,-
6679,ASU,VCP,31/OCT/2023,31/OCT/2023,00:00,10:55,76V,NaN,UC1771,,F,000,-

In [164]:
df_frame49 = df_orig.query('KeyX == 1  & Key == 49 & Kdept == 1').copy()
df_frame49['FlightNumberArvl'] = df_frame49['Dept Sta'].apply(lambda x: x[1:8])
df_frame49['Dept Sta'] = df_frame49['Arvl-Hora'].apply( lambda x: x[3:6])
df_frame49['Arvl Sta'] = 'VCP'
df_frame49['Arvl Day'] = df_frame49['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame49['Dept Day'] = df_frame49['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame49['Trilho'] = ''
df_frame49['Pax'] = df_frame49['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame49['Pax-Subfleet'] = df_frame49['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame49['Arvl-Hora'] = df_frame49['Arvl-Hora'].apply( lambda x: x[6:8] + ':' + x[8:10])
df_frame49['Dept-Hora'] = '00:00'
df_frame49 = df_frame49[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p10 = df_frame49
p10

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
140,MAO,VCP,01/NOV/2023 á 29/NOV/2023,01/NOV/2023 á 29/NOV/2023,00:00,23:15,E95,NaN,AD2011,,F,000,1204560
141,MAO,VCP,02/NOV/2023 á 22/MAR/2023,02/NOV/2023 á 22/MAR/2023,00:00,23:20,E95,NaN,AD2011,,F,000,0030000
142,MAO,VCP,01/DEC/2023 á 08/DEC/2023,01/DEC/2023 á 08/DEC/2023,00:00,23:20,E95,NaN,AD2011,,F,000,1204560
144,MAO,VCP,10/DEC/2023 á 25/MAR/2023,10/DEC/2023 á 25/MAR/2023,00:00,23:20,E95,NaN,AD2011,,F,000,1204060
146,MAO,VCP,23/DEC/2023 á 24/MAR/2023,23/DEC/2023 á 24/MAR/2023,00:00,23:20,E95,NaN,AD2011,,F,000,0000500
279,IGU,VCP,05/NOV/2023 á 28/JAN/2023,05/NOV/2023 á 28/JAN/2023,00:00,12:35,32N,NaN,AD2407,,J,174,0000060
282,IGU,VCP,07/DEC/2023 á 14/DEC/2023,07/DEC/2023 á 14/DEC/2023,00:00,12:35,32N,NaN,AD2407,,J,174,0030000
284,IGU,VCP,04/JAN/2023 á 25/JAN/2023,04/JAN/2023 á 25/JAN/2023,00:00,12:35,32N,NaN,AD2407,,J,174,0030000
347,BYO,VCP,30/OCT/2023 á 09/NOV/2023,30/OCT/2023 á 09/NOV/2023,00:00,15:30,E95,NaN,AD2514,,J,118,0030007
349,BYO,VCP,16/NOV/2023 á 30/NOV/2023,16/NOV/2023 á 30/NOV/2023,00:00,15:30,E95,NaN,AD2514,,J,118,0030007
351,BYO,VCP,04/DEC/2023 á 28/DEC/2023,04/DEC/2023 á 28/DEC/2023,00:00,15:35,E95,NaN,AD2514,,J,118,0030007
352,BYO,VCP,04/JAN/2023 á 08/FEB/2023,04/JAN/2023 á 08/FEB/2023,00:00,15:35,E95,NaN,AD2514,,J,118,0030007
354,BYO,VCP,12/FEB/2023 á 05/MAR/2023,12/FEB/2023 á 05/MAR/2023,00:00,15:35,295,NaN,AD2514,,J,136,0000007
360,BYO,VCP,01/MAR/2023 á 22/MAR/2023,01/MAR/2023 á 22/MAR/2023,00:00,15:35,E95,NaN,AD2514,,J,118,0030000
363,BYO,VCP,12/MAR/2023 á 19/MAR/2023,12/MAR/2023 á 19/MAR/2023,00:00,15:35,E95,NaN,AD2514,,J,118,0000007
821,BYO,VCP,31/OCT/2023 á 11/NOV/2023,31/OCT/2023 á 11/NOV/2023,00:00,15:30,E95,NaN,AD2690,,J,118,1204500
824,BYO,VCP,15/NOV/2023 á 31/JAN/2023,15/NOV/2023 á 31/JAN/2023,00:00,15:30,E95,NaN,AD2690,,J,118,1204500
827,BYO,VCP,03/FEB/2023 á 17/FEB/2023,03/FEB/2023 á 17/FEB/2023,00:00,15:30,E95,NaN,AD2690,,J,118,1000500
830,BYO,VCP,20/FEB/2023 á 24/FEB/2023,20/FEB/2023 á 24/FEB/2023,00:00,15:30,295,NaN,AD2690,,J,136,1000500
831,BYO,VCP,27/FEB/2023 á 24/MAR/2023,27/FEB/2023 á 24/MAR/2023,00:00,15:30,E95,NaN,AD2690,,J,118,1000500
926,BEL,VCP,30/OCT/2023 á 31/OCT/2023,30/OCT/2023 á 31/OCT/2023,00:00,20:30,32Q,NaN,AD2705,,J,214,1000007
927,BEL,VCP,01/NOV/2023 á 25/NOV/2023,01/NOV/2023 á 25/NOV/2023,00:00,20:40,32Q,NaN,AD2705,,J,214,1234567
929,BEL,VCP,27/NOV/2023 á 02/DEC/2023,27/NOV/2023 á 02/DEC/2023,00:00,20:40,32Q,NaN,AD2705,,J,214,1234507
930,BEL,VCP,03/DEC/2023 á 24/DEC/2023,03/DEC/2023 á 24/DEC/2023,00:00,20:45,32Q,NaN,AD2705,,J,214,0000067
931,BEL,VCP,05/DEC/2023 á 03/FEB/2023,05/DEC/2023 á 03/FEB/2023,00:00,20:40,32Q,NaN,AD2705,,J,214,1234500
933,BEL,VCP,31/DEC/2023 á 25/MAR/2023,31/DEC/2023 á 25/MAR/2023,00:00,20:45,32Q,NaN,AD2705,,J,214,0000060
934,BEL,VCP,08/JAN/2023 á 19/MAR/2023,08/JAN/2023 á 19/MAR/2023,00:00,20:45,32Q,NaN,AD2705,,J,214,0000007
936,BEL,VCP,07/FEB/2023 á 24/MAR/2023,07/FEB/2023 á 24/MAR/2023,00:00,20:40,32Q,NaN,AD2705,,J,214,1234500
959,NVT,VCP,31/OCT/2023 á 11/NOV/2023,31/OCT/2023 á 11/NOV/2023,00:00,12:40,E95,NaN,AD2710,,J,118,1204560
961,NVT,VCP,09/NOV/2023 á 14/DEC/2023,09/NOV/2023 á 14/DEC/2023,00:00,12:40,E95,NaN,AD2710,,J,118,0030000
965,NVT,VCP,17/NOV/2023 á 16/DEC/2023,17/NOV/2023 á 16/DEC/2023,00:00,12:40,E95,NaN,AD2710,,J,118,1204560
1736,PHB,VCP,31/OCT/2023 á 11/NOV/2023,31/OCT/2023 á 11/NOV/2023,00:00,20:25,295,NaN,AD2904,,J,136,1000500
1737,JJD,VCP,02/NOV/2023 á 28/DEC/2023,02/NOV/2023 á 28/DEC/2023,00:00,19:55,295,NaN,AD2904,,J,136,0030000
1745,PHB,VCP,18/NOV/2023 á 30/DEC/2023,18/NOV/2023 á 30/DEC/2023,00:00,20:25,295,NaN,AD2904,,J,136,1000500
1747,JJD,VCP,20/NOV/2023 á 11/DEC/2023,20/NOV/2023 á 11/DEC/2023,00:00,19:30,295,NaN,AD2904,,J,136,0000007
1749,PHB,VCP,02/JAN/2023 á 06/JAN/2023,02/JAN/2023 á 06/JAN/2023,00:00,20:45,295,NaN,AD2904,,J,136,1000500
1750,JJD,VCP,04/JAN/2023 á 25/JAN/2023,04/JAN/2023 á 25/JAN/2023,00:00,20:10,295,NaN,AD2904,,J,136,0030000
1753,JJD,VCP,08/JAN/2023 á 12/FEB/2023,08/JAN/2023 á 12/FEB/2023,00:00,19:45,295,NaN,AD2904,,J,136,0000007
1754,PHB,VCP,09/JAN/2023 á 13/FEB/2023,09/JAN/2023 á 13/FEB/2023,00:00,20:50,295,NaN,AD2904,,J,136,1000500
1755,JJD,VCP,08/FEB/2023 á 15/FEB/2023,08/FEB/2023 á 15/FEB/2023,00:00,20:10,295,NaN,AD2904,,J,136,0030000
1757,PHB,VCP,24/FEB/2023 á 27/FEB/2023,24/FEB/2023 á 27/FEB/2023,00:00,20:50,295,NaN,AD2904,,J,136,1000500
1801,CWB,VCP,03/NOV/2023 á 06/NOV/2023,03/NOV/2023 á 06/NOV/2023,00:00,18:15,E95,NaN,AD2916,,J,118,0004507
1805,CWB,VCP,20/NOV/2023 á 27/NOV/2023,20/NOV/2023 á 27/NOV/2023,00:00,18:15,E95,NaN,AD2916,,J,118,0000007

In [165]:
df_frame45 = df_orig.query('KeyX == 2  & Key == 45 & Kdept == 7 & Karvl == 7').copy()
df_frame45['FlightNumberArvl'] = df_frame45['Arvl Sta']
df_frame45['FlightNumbeR'] = df_frame45['Dept Sta'].apply(lambda x: x[1:8])
df_frame45['Dept Sta'] = df_frame45['Arvl-Hora'].apply( lambda x: x[0:3])
df_frame45['Arvl Sta'] = df_frame45['Dept-Hora'].apply( lambda  x: x[4:7])
df_frame45['Arvl Day'] = df_frame45['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame45['Dept Day'] = df_frame45['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame45['Trilho'] = ''
df_frame45['Pax'] = df_frame45['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame45['Pax-Subfleet'] = df_frame45['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame45['Arvl-Hora'] = df_frame45['Arvl-Hora'].apply( lambda x: x[3:5] + ':' + x[5:7])
df_frame45['Dept-Hora'] = df_frame45['Dept-Hora'].apply( lambda x: x[0:2] + ':' + x[2:4])
df_frame45 = df_frame45[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p11 = df_frame45
p11

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
14,EZE,MIA,17/DEC/2023,17/DEC/2023,14:25,08:30,76F,5X413,5X413,,FF,000,-
34,EZE,MIA,28/DEC/2023,28/DEC/2023,13:10,11:25,76F,5X415,5X415,,FF,000,-
35,EZE,MIA,04/JAN/2023,04/JAN/2023,13:00,11:25,76F,5X415,5X415,,FF,000,-
57,MIA,MIA,30/OCT/2023,30/OCT/2023,09:40,07:35,76F,5X444,5X445,,FF,000,-
58,MIA,MIA,06/NOV/2023,06/NOV/2023,10:40,07:35,76F,5X444,5X445,,FF,000,-
61,MIA,MIA,01/JAN/2023,01/JAN/2023,11:45,09:35,76F,5X444,5X445,,FF,000,-
6271,MIA,SCL,23/NOV/2023,23/NOV/2023,20:30,18:30,744,K4537,K4536,,HH,000,-
6275,MIA,SCL,10/DEC/2023,10/DEC/2023,09:40,07:40,744,K4537,K4536,,HH,000,-
6277,MIA,SCL,15/DEC/2023,15/DEC/2023,22:30,12:30,744,K4537,K4537,,HH,000,-
6285,MGA,MIA,03/NOV/2023,03/NOV/2023,17:00,02:00,744,K4539,K4538,,HH,000,-
6287,MIA,SCL,26/NOV/2023,26/NOV/2023,16:00,01:30,744,K4539,K4539,,HH,000,-
6503,SCL,BGI,13/DEC/2023,13/DEC/2023,15:30,13:25,738,MB681,MB681,,HP,000,-
6525,LIM,HHN,01/NOV/2023,01/NOV/2023,21:25,18:25,74Y,N8801,N8882,,HP,000,-
6527,LIM,MEX,01/NOV/2023,01/NOV/2023,18:55,02:25,74Y,N8831,N8842,,HP,000,-

In [166]:
df_frame46 = df_orig.query('KeyX == 2  & Key == 46 & Kdept == 8 & Karvl == 7').copy()
df_frame46['FlightNumberArvl'] = df_frame46['Arvl Sta']
df_frame46['FlightNumbeR'] = df_frame46['Dept Sta'].apply(lambda x: x[1:8])
df_frame46['Dept Sta'] = df_frame46['Arvl-Hora'].apply( lambda x: x[0:3])
df_frame46['Arvl Sta'] = df_frame46['Dept-Hora'].apply( lambda  x: x[5:8])
df_frame46['Arvl Day'] = df_frame46['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame46['Dept Day'] = df_frame46['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame46['Trilho'] = ''
df_frame46['Pax'] = df_frame46['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame46['Pax-Subfleet'] = df_frame46['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame46['Arvl-Hora'] = df_frame46['Arvl-Hora'].apply( lambda x: x[3:5] + ':' + x[5:7])
df_frame46['Dept-Hora'] = df_frame46['Dept-Hora'].apply( lambda x: x[0:2] + ':' + x[2:4])
df_frame46 = df_frame46[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p12 = df_frame46
p12

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
48,EZE,MIA,09/JAN/2023,09/JAN/2023,04:30,22:45,76F,5X417,5X417,,FF,000,-
49,EZE,MIA,16/JAN/2023,16/JAN/2023,03:05,22:45,76F,5X417,5X417,,FF,000,-
50,EZE,MIA,23/JAN/2023,23/JAN/2023,04:30,22:45,76F,5X417,5X417,,FF,000,-
51,EZE,MIA,30/JAN/2023,30/JAN/2023,03:05,22:45,76F,5X417,5X417,,FF,000,-
53,EZE,MIA,20/FEB/2023,20/FEB/2023,03:05,22:45,76F,5X417,5X417,,FF,000,-
54,EZE,MIA,27/FEB/2023,27/FEB/2023,04:30,22:45,76F,5X417,5X417,,FF,000,-
55,EZE,MIA,06/MAR/2023,06/MAR/2023,03:05,22:45,76F,5X417,5X417,,FF,000,-
6269,MIA,UIO,07/NOV/2023,07/NOV/2023,09:30,19:30,744,K4537,K4536,,HH,000,-
6270,MIA,UIO,15/NOV/2023,15/NOV/2023,05:00,10:30,744,K4537,K4536,,HH,000,-
6272,PTY,UIO,28/NOV/2023,28/NOV/2023,07:00,17:30,744,K4537,K4536,,HH,000,-
6273,MIA,UIO,05/DEC/2023,05/DEC/2023,06:30,11:00,744,K4537,K4536,,HH,000,-
6274,MIA,SCL,08/DEC/2023,08/DEC/2023,02:30,14:00,744,K4537,K4536,,HH,000,-
6276,MIA,UIO,13/DEC/2023,13/DEC/2023,11:30,21:30,744,K4537,K4536,,HH,000,-
6278,MIA,UIO,19/DEC/2023,19/DEC/2023,06:30,17:00,744,K4537,K4536,,HH,000,-
6280,MIA,SCL,30/DEC/2023,30/DEC/2023,04:30,14:15,744,K4537,K4537,,HH,000,-
6281,MIA,SCL,05/JAN/2023,05/JAN/2023,02:30,12:30,744,K4537,K4537,,HH,000,-
6282,MIA,SCL,11/JAN/2023,11/JAN/2023,09:00,18:00,744,K4537,K4536,,HH,000,-
6284,MIA,UIO,31/OCT/2023,31/OCT/2023,06:00,10:30,744,K4539,K4538,,HH,000,-
6286,MIA,MIA,10/NOV/2023,10/NOV/2023,04:45,14:00,744,K4539,K4538,,HH,000,-
6288,MIA,UIO,09/JAN/2023,09/JAN/2023,12:30,22:30,744,K4539,K4538,,HH,000,-
6526,LIM,MIA,02/NOV/2023,02/NOV/2023,20:00,18:25,74Y,N8802,N8874,,HH,000,-

In [167]:
df_frame47 = df_orig.query('KeyX == 2  & Key == 47 & Kdept == 7 & Karvl == 7').copy()
df_frame47['FlightNumberArvl'] = df_frame47['Arvl Sta']
df_frame47['FlightNumbeR'] = df_frame47['Dept Sta'].apply(lambda x: x[1:8])
df_frame47['Dept Sta'] = df_frame47['Arvl-Hora'].apply( lambda x: x[0:3])
df_frame47['Arvl Sta'] = df_frame47['Dept-Hora'].apply( lambda  x: x[4:8])
df_frame47['Arvl Day'] = df_frame47['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame47['Dept Day'] = df_frame47['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame47['Trilho'] = ''
df_frame47['Pax'] = df_frame47['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame47['Pax-Subfleet'] = df_frame47['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame47['Arvl-Hora'] = df_frame47['Arvl-Hora'].apply( lambda x: x[3:5] + ':' + x[5:7])
df_frame47['Dept-Hora'] = df_frame47['Dept-Hora'].apply( lambda x: x[0:2] + ':' + x[2:4])
df_frame47 = df_frame47[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p13 = df_frame47
p13

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
72,LIM,MIA,02/NOV/2023,02/NOV/2023,04:05,01:05,744,5Y8094,5Y8093,,HH,000,-
75,ORD,SID,14/NOV/2023,14/NOV/2023,15:30,12:30,74N,7L4982,7L3010,,PH,000,-
6299,MIA,MDE,31/OCT/2023,31/OCT/2023,22:15,21:05,76V,L71527,L71527,,FF,000,-
6300,MIA,SCL,07/NOV/2023,07/NOV/2023,23:15,22:05,76V,L71527,L71527,,FF,000,-
6302,MIA,BOG,17/NOV/2023,17/NOV/2023,08:40,07:30,76V,L71813,L71813,,FF,000,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6675,MIA,SCL,26/NOV/2023,26/NOV/2023,10:30,09:20,76V,UC1741,UC1741,,FF,000,-
6683,MIA,SCL,16/JAN/2023,16/JAN/2023,08:30,07:20,76V,UC1771,UC1771,,FF,000,-
6685,MIA,SCL,17/DEC/2023,17/DEC/2023,10:25,09:15,76V,UC1921,UC1921,,FF,000,-
6686,SCL,MVD,13/DEC/2023,13/DEC/2023,14:30,13:30,72Y,VZ1212,VZ8764,,HP,000,-
6687,SCL,ASU,11/NOV/2023,11/NOV/2023,10:30,09:30,72Y,VZ7522,VZ7828,,HP,000,-

In [168]:
df_frame48 = df_orig.query('KeyX == 2  & Key == 48 & Kdept == 10 & Karvl == 7').copy()
df_frame48['FlightNumberArvl'] = df_frame48['Arvl Sta']
df_frame48['FlightNumbeR'] = df_frame48['Dept Sta'].apply(lambda x: x[1:8])
df_frame48['Dept Sta'] = df_frame48['Arvl-Hora'].apply( lambda x: x[0:3])
df_frame48['Arvl Sta'] = df_frame48['Dept-Hora'].apply( lambda  x: x[4:7])
df_frame48['Arvl Day'] = df_frame48['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame48['Dept Day'] = df_frame48['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame48['Trilho'] = ''
df_frame48['Pax'] = df_frame48['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame48['Pax-Subfleet'] = df_frame48['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame48['Arvl-Hora'] = df_frame48['Arvl-Hora'].apply( lambda x: x[3:5] + ':' + x[5:7])
df_frame48['Dept-Hora'] = df_frame48['Dept-Hora'].apply( lambda x: x[0:2] + ':' + x[2:4])
df_frame48 = df_frame48[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p14 = df_frame48
p14

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
0,MIA,SCL,02/NOV/2023,02/NOV/2023,22:20,19:05,76F,5X410,5X410,,FF,000,-
3,EZE,BOG,03/NOV/2023,03/NOV/2023,10:45,09:15,76F,5X411,5X411,,FF,000,-
9,MIA,SCL,03/NOV/2023,03/NOV/2023,22:15,18:50,76F,5X412,5X412,,FF,000,-
12,EZE,BOG,05/NOV/2023,05/NOV/2023,11:30,07:55,76F,5X413,5X413,,FF,000,-
19,MIA,SCL,01/NOV/2023,01/NOV/2023,22:30,20:10,76F,5X414,5X414,,FF,000,-
22,MIA,SCL,10/JAN/2023,10/JAN/2023,22:55,21:40,76F,5X414,5X414,,FF,000,-
23,MIA,SCL,17/JAN/2023,17/JAN/2023,22:10,20:45,76F,5X414,5X414,,FF,000,-
24,MIA,SCL,24/JAN/2023,24/JAN/2023,22:55,21:40,76F,5X414,5X414,,FF,000,-
25,MIA,SCL,31/JAN/2023,31/JAN/2023,22:10,20:45,76F,5X414,5X414,,FF,000,-
27,MIA,SCL,21/FEB/2023,21/FEB/2023,22:10,20:45,76F,5X414,5X414,,FF,000,-
28,MIA,SCL,28/FEB/2023,28/FEB/2023,22:55,21:40,76F,5X414,5X414,,FF,000,-
29,MIA,SCL,07/MAR/2023,07/MAR/2023,22:10,20:45,76F,5X414,5X414,,FF,000,-
31,EZE,BOG,02/NOV/2023,02/NOV/2023,10:50,09:15,76F,5X415,5X415,,FF,000,-
39,MIA,SCL,30/OCT/2023,30/OCT/2023,18:00,16:20,76F,5X416,5X416,,FF,000,-

In [169]:
df_frame48 = df_orig.query('KeyX == 2  & Key == 48 & Kdept == 8 & Karvl == 7').copy()
df_frame48['FlightNumberArvl'] = df_frame48['Arvl Sta']
df_frame48['FlightNumbeR'] = df_frame48['Dept Sta'].apply(lambda x: x[1:8])
df_frame48['Dept Sta'] = df_frame48['Arvl-Hora'].apply( lambda x: x[0:3])
df_frame48['Arvl Sta'] = df_frame48['Dept-Hora'].apply( lambda  x: x[5:8])
df_frame48['Arvl Day'] = df_frame48['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame48['Dept Day'] = df_frame48['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame48['Trilho'] = ''
df_frame48['Pax'] = df_frame48['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame48['Pax-Subfleet'] = df_frame48['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame48['Arvl-Hora'] = df_frame48['Arvl-Hora'].apply( lambda x: x[3:5] + ':' + x[5:7])
df_frame48['Dept-Hora'] = df_frame48['Dept-Hora'].apply( lambda x: x[0:2] + ':' + x[2:4])
df_frame48 = df_frame48[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p15 = df_frame48
p15

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
71,LIM,MIA,31/OCT/2023,31/OCT/2023,01:20,22:15,744,5Y8092,5Y8093,,HH,000,-
6338,MIA,BOG,05/NOV/2023,05/NOV/2023,00:50,23:40,76V,L72861,L72861,,FF,000,-
6339,MIA,BOG,31/DEC/2023,31/DEC/2023,00:50,23:40,76V,L72861,L72861,,FF,000,-
6544,MIA,BOG,06/DEC/2023,06/DEC/2023,00:15,22:45,332,QT4051,QT4052,,FF,000,-
6548,MIA,BOG,02/NOV/2023,02/NOV/2023,00:15,22:45,332,QT4053,QT4054,,FF,000,-
6554,MIA,BOG,10/DEC/2023,10/DEC/2023,00:30,23:00,332,QT4053,QT4054,,FF,000,-
6557,MIA,BOG,06/JAN/2023,06/JAN/2023,01:30,24:00,332,QT4053,QT4054,,FF,000,-
6565,CWB,BOG,24/NOV/2023,24/NOV/2023,01:00,23:30,332,QT4055,QT4060,,FF,000,-
6568,CWB,BOG,08/DEC/2023,08/DEC/2023,00:30,22:45,332,QT4055,QT4060,,FF,000,-
6571,CWB,BOG,22/DEC/2023,22/DEC/2023,00:15,22:35,332,QT4055,QT4060,,FF,000,-
6573,CWB,BOG,05/JAN/2023,05/JAN/2023,01:00,23:30,332,QT4055,QT4060,,FF,000,-
6575,CWB,BOG,15/JAN/2023,15/JAN/2023,00:45,23:15,332,QT4055,QT4060,,FF,000,-
6580,ASU,BOG,01/JAN/2023,01/JAN/2023,00:15,22:45,332,QT4087,QT4060,,FF,000,-
6581,ASU,BOG,04/JAN/2023,04/JAN/2023,00:30,23:00,332,QT4089,QT4054,,FF,000,-

In [170]:
df_frame48 = df_orig.query('KeyX == 2  & Key == 48 & Kdept == 7 & Karvl == 10').copy()
df_frame48['FlightNumberArvl'] = df_frame48['Arvl Sta']
df_frame48['FlightNumbeR'] = df_frame48['Dept Sta'].apply(lambda x: x[1:8])
df_frame48['Dept Sta'] = df_frame48['Arvl-Hora'].apply( lambda x: x[0:3])
df_frame48['Arvl Sta'] = df_frame48['Dept-Hora'].apply( lambda  x: x[4:8])
df_frame48['Arvl Day'] = df_frame48['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame48['Dept Day'] = df_frame48['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame48['Trilho'] = ''
df_frame48['Pax'] = df_frame48['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame48['Pax-Subfleet'] = df_frame48['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame48['Arvl-Hora'] = df_frame48['Arvl-Hora'].apply( lambda x: x[6:8] + ':' + x[8:10])
df_frame48['Dept-Hora'] = df_frame48['Dept-Hora'].apply( lambda x: x[0:2] + ':' + x[2:4])
df_frame48 = df_frame48[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p16 = df_frame48
p16

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
6021,ACC,LGG,21/NOV/2023,21/NOV/2023,07:45,04:45,74Y,CC698,CC647,,PH,000,-

In [171]:
df_frame49 = df_orig.query('KeyX == 2  & Key == 49 & Kdept == 11 & Karvl == 7').copy()
df_frame49['FlightNumberArvl'] = df_frame49['Arvl Sta']
df_frame49['FlightNumbeR'] = df_frame49['Dept Sta'].apply(lambda x: x[1:8])
df_frame49['Dept Sta'] = df_frame49['Arvl-Hora'].apply( lambda x: x[0:3])
df_frame49['Arvl Sta'] = df_frame49['Dept-Hora'].apply( lambda  x: x[5:8])
df_frame49['Arvl Day'] = df_frame49['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame49['Dept Day'] = df_frame49['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame49['Trilho'] = ''
df_frame49['Pax'] = df_frame49['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame49['Pax-Subfleet'] = df_frame49['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame49['Arvl-Hora'] = df_frame49['Arvl-Hora'].apply( lambda x: x[3:5] + ':' + x[5:7])
df_frame49['Dept-Hora'] = df_frame49['Dept-Hora'].apply( lambda x: x[0:2] + ':' + x[2:4])
df_frame49 = df_frame49[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p17 = df_frame49
p17

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
44,EZE,BOG,31/OCT/2023,31/OCT/2023,00:30,22:45,76F,5X417,5X417,,FF,000,-

In [172]:
df_frame49 = df_orig.query('KeyX == 2  & Key == 49 & Kdept == 7 & Karvl == 7').copy()
df_frame49['FlightNumberArvl'] = df_frame49['Arvl Sta']
df_frame49['FlightNumbeR'] = df_frame49['Dept Sta'].apply(lambda x: x[1:8])
df_frame49['Dept Sta'] = df_frame49['Arvl-Hora'].apply( lambda x: x[0:3])
df_frame49['Arvl Sta'] = df_frame49['Dept-Hora'].apply( lambda  x: x[4:8])
df_frame49['Arvl Day'] = df_frame49['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame49['Dept Day'] = df_frame49['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame49['Trilho'] = ''
df_frame49['Pax'] = df_frame49['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame49['Pax-Subfleet'] = df_frame49['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame49['Arvl-Hora'] = df_frame49['Arvl-Hora'].apply( lambda x: x[3:5] + ':' + x[5:7])
df_frame49['Dept-Hora'] = df_frame49['Dept-Hora'].apply( lambda x: x[0:2] + ':' + x[2:4])
df_frame49 = df_frame49[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p18 = df_frame49
p18

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
76,EZE,LET,14/DEC/2023,14/DEC/2023,14:00,11:30,73P,ACL1166,ACL1165,,HP,000,-
6268,EZE,FRA,18/MAR/2023,18/MAR/2023,13:30,11:30,77X,GEC8267,GEC8267,,FF,000,-
6591,VVI,VVI,08/JAN/2023,08/JAN/2023,04:30,01:30,735,RER9511,RER9510,,CP,120,-
6592,VVI,VVI,12/JAN/2023,12/JAN/2023,07:00,04:30,735,RER9511,RER9510,,CP,120,-

In [173]:
df_frame50 = df_orig.query('KeyX == 2  & Key == 50 & Kdept == 10 & Karvl == 7').copy()
df_frame50['FlightNumberArvl'] = df_frame50['Arvl Sta']
df_frame50['FlightNumbeR'] = df_frame50['Dept Sta'].apply(lambda x: x[1:8])
df_frame50['Dept Sta'] = df_frame50['Arvl-Hora'].apply( lambda x: x[0:3])
df_frame50['Arvl Sta'] = df_frame50['Dept-Hora'].apply( lambda  x: x[4:7])
df_frame50['Arvl Day'] = df_frame50['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame50['Dept Day'] = df_frame50['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame50['Trilho'] = ''
df_frame50['Pax'] = df_frame50['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame50['Pax-Subfleet'] = df_frame50['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame50['Arvl-Hora'] = df_frame50['Arvl-Hora'].apply( lambda x: x[3:5] + ':' + x[5:7])
df_frame50['Dept-Hora'] = df_frame50['Dept-Hora'].apply( lambda x: x[0:2] + ':' + x[2:4])
df_frame50 = df_frame50[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p19 = df_frame50
p19

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
6297,MIA,CWB,18/NOV/2023,18/NOV/2023,13:40,12:30,76V,L71524,L71524,,FF,000,-
6298,MIA,ASU,23/DEC/2023,23/DEC/2023,19:55,18:45,76V,L71524,L71524,,FF,000,-
6313,MIA,AGT,18/NOV/2023,18/NOV/2023,07:45,06:35,76V,L71819,L71819,,FF,000,-
6324,MIA,MVD,16/JAN/2023,16/JAN/2023,16:45,15:35,76V,L72812,L72812,,FF,000,-
6325,MIA,CNF,01/NOV/2023,01/NOV/2023,23:30,22:20,76V,L72825,L72825,,FF,000,-
6326,MIA,CNF,09/NOV/2023,09/NOV/2023,05:40,04:30,76V,L72825,L72825,,FF,000,-
6337,MIA,ASU,16/DEC/2023,16/DEC/2023,08:10,07:00,76V,L72845,L72845,,FF,000,-
6346,MIA,AGT,09/JAN/2023,09/JAN/2023,10:25,09:15,76V,L72897,L72897,,FF,000,-
6348,MAO,EZE,09/NOV/2023,09/NOV/2023,21:00,17:30,76V,M36559,M38494,,FF,000,-
6360,MIA,EZE,16/NOV/2023,16/NOV/2023,21:00,17:45,76V,M38421,M38494,,FF,000,-
6361,MIA,EZE,23/NOV/2023,23/NOV/2023,21:00,16:20,76V,M38421,M38494,,FF,000,-
6362,MIA,EZE,30/NOV/2023,30/NOV/2023,21:55,20:40,76V,M38421,M38494,,FF,000,-
6363,MIA,BOG,01/DEC/2023,01/DEC/2023,11:10,08:50,76V,M38421,M38440,,FF,000,-
6364,MIA,EZE,07/DEC/2023,07/DEC/2023,21:00,19:10,76V,M38421,M38494,,FF,000,-
6365,MIA,EZE,14/DEC/2023,14/DEC/2023,21:00,19:15,76V,M38421,M38494,,FF,000,-
6367,MIA,EZE,28/DEC/2023,28/DEC/2023,21:00,16:40,76V,M38421,M38494,,FF,000,-
6369,MIA,EZE,11/JAN/2023,11/JAN/2023,21:00,19:55,76V,M38421,M38494,,FF,000,-
6387,MIA,MDE,14/JAN/2023,14/JAN/2023,08:00,06:00,76V,M38441,M39834,,FF,000,-
6394,MIA,AGT,11/DEC/2023,11/DEC/2023,05:00,01:20,76V,M38443,M38472,,FF,000,-
6406,MIA,EZE,07/NOV/2023,07/NOV/2023,21:00,17:45,76V,M38471,M38490,,FF,000,-
6476,SCL,UIO,06/JAN/2023,06/JAN/2023,11:20,07:55,76V,M38497,M38430,,FF,000,-
6487,VIX,UIO,18/NOV/2023,18/NOV/2023,16:45,15:35,76V,M39829,M38430,,FF,000,-
6488,VIX,EZE,22/NOV/2023,22/NOV/2023,21:00,14:25,76V,M39831,M38492,,FF,000,-
6489,EZE,EZE,17/NOV/2023,17/NOV/2023,21:00,05:15,76V,M39832,M38496,,FF,000,-
6537,MEX,LAX,02/NOV/2023,02/NOV/2023,19:45,17:40,77X,QR8874,QR8875,,HA,000,-
6595,MIA,UIO,13/DEC/2023,13/DEC/2023,11:05,08:45,76V,UC1105,UC1904,,FF,000,-
6596,GIG,UIO,14/DEC/2023,14/DEC/2023,08:50,07:40,76V,UC1105,UC1804,,FF,000,-
6652,MIA,EZE,07/JAN/2023,07/JAN/2023,03:30,02:20,76V,UC1524,UC1524,,FF,000,-
6655,MIA,POA,05/DEC/2023,05/DEC/2023,16:20,15:10,76V,UC1527,UC1527,,FF,000,-
6658,MIA,AGT,04/DEC/2023,04/DEC/2023,17:45,16:35,76V,UC1609,UC1609,,FF,000,-
6662,MIA,CWB,25/NOV/2023,25/NOV/2023,08:10,06:55,76V,UC1721,UC1721,,FF,000,-
6674,MIA,FLN,18/NOV/2023,18/NOV/2023,11:30,10:20,76V,UC1741,UC1741,,FF,000,-
6676,MIA,FLN,02/DEC/2023,02/DEC/2023,09:05,07:55,76V,UC1741,UC1741,,FF,000,-
6677,MIA,FLN,13/JAN/2023,13/JAN/2023,05:50,04:40,76V,UC1741,UC1741,,FF,000,-
6678,MIA,CWB,16/JAN/2023,16/JAN/2023,05:50,04:40,76V,UC1761,UC1761,,FF,000,-
6682,MIA,CWB,05/DEC/2023,05/DEC/2023,06:45,02:30,76V,UC1771,UC1771,,FF,000,-

In [174]:
df_frame50 = df_orig.query('KeyX == 2  & Key == 50 & Kdept == 7 & Karvl == 10').copy()
df_frame50['FlightNumberArvl'] = df_frame50['Arvl Sta']
df_frame50['FlightNumbeR'] = df_frame50['Dept Sta'].apply(lambda x: x[1:8])
df_frame50['Dept Sta'] = df_frame50['Arvl-Hora'].apply( lambda x: x[0:3])
df_frame50['Arvl Sta'] = df_frame50['Dept-Hora'].apply( lambda  x: x[4:7])
df_frame50['Arvl Day'] = df_frame50['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame50['Dept Day'] = df_frame50['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame50['Trilho'] = ''
df_frame50['Pax'] = df_frame50['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame50['Pax-Subfleet'] = df_frame50['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame50['Arvl-Hora'] = df_frame50['Arvl-Hora'].apply( lambda x: x[6:8] + ':' + x[8:10])
df_frame50['Dept-Hora'] = df_frame50['Dept-Hora'].apply( lambda x: x[0:2] + ':' + x[2:4])
df_frame50 = df_frame50[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p20 = df_frame50
p20

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
6303,BOG,BOG,24/NOV/2023,24/NOV/2023,11:50,10:40,76V,L71813,L71813,,FF,000,-
6304,BOG,BOG,08/DEC/2023,08/DEC/2023,10:25,09:15,76V,L71813,L71813,,FF,000,-
6305,BOG,BOG,22/DEC/2023,22/DEC/2023,14:55,13:45,76V,L71813,L71813,,FF,000,-
6320,MIA,BOG,31/OCT/2023,31/OCT/2023,09:55,08:45,76V,L71827,L71827,,FF,000,-
6321,MIA,BOG,06/NOV/2023,06/NOV/2023,22:50,21:45,76V,L71830,L71827,,FF,000,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6663,MIA,SCL,29/NOV/2023,29/NOV/2023,21:10,20:00,76V,UC1721,UC1721,,FF,000,-
6664,MIA,SCL,06/DEC/2023,06/DEC/2023,22:55,21:45,76V,UC1721,UC1721,,FF,000,-
6665,MIA,SCL,11/JAN/2023,11/JAN/2023,08:20,07:10,76V,UC1721,UC1721,,FF,000,-
6680,SCL,UIO,14/NOV/2023,14/NOV/2023,05:40,04:30,76V,UC1771,UC1771,,FF,000,-
6684,MIA,SCL,07/DEC/2023,07/DEC/2023,06:45,05:35,76V,UC1905,UC1905,,FF,000,-

In [175]:
df_frame51 = df_orig.query('KeyX == 2  & Key == 51 & Kdept == 11 & Karvl == 7').copy()
df_frame51['FlightNumberArvl'] = df_frame51['Arvl Sta']
df_frame51['FlightNumbeR'] = df_frame51['Dept Sta'].apply(lambda x: x[1:8])
df_frame51['Dept Sta'] = df_frame51['Arvl-Hora'].apply( lambda x: x[0:3])
df_frame51['Arvl Sta'] = df_frame51['Dept-Hora'].apply( lambda  x: x[5:8])
df_frame51['Arvl Day'] = df_frame51['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame51['Dept Day'] = df_frame51['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame51['Trilho'] = ''
df_frame51['Pax'] = df_frame51['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame51['Pax-Subfleet'] = df_frame51['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame51['Arvl-Hora'] = df_frame51['Arvl-Hora'].apply( lambda x: x[3:5] + ':' + x[5:7])
df_frame51['Dept-Hora'] = df_frame51['Dept-Hora'].apply( lambda x: x[0:2] + ':' + x[2:4])
df_frame51 = df_frame51[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p21 = df_frame51
p21

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
6350,MAO,CCS,12/JAN/2023,12/JAN/2023,04:30,12:45,76V,M36577,M38430,,FF,000,-

In [176]:
df_frame52 = df_orig.query('KeyX == 2  & Key == 52 & Kdept == 11 & Karvl == 10').copy()
df_frame52['FlightNumberArvl'] = df_frame52['Arvl Sta']
df_frame52['FlightNumbeR'] = df_frame52['Dept Sta'].apply(lambda x: x[1:8])
df_frame52['Dept Sta'] = df_frame52['Arvl-Hora'].apply( lambda x: x[0:3])
df_frame52['Arvl Sta'] = df_frame52['Dept-Hora'].apply( lambda  x: x[5:8])
df_frame52['Arvl Day'] = df_frame52['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame52['Dept Day'] = df_frame52['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame52['Trilho'] = ''
df_frame52['Pax'] = df_frame52['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame52['Pax-Subfleet'] = df_frame52['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame52['Arvl-Hora'] = df_frame52['Arvl-Hora'].apply( lambda x: x[6:8] + ':' + x[8:10])
df_frame52['Dept-Hora'] = df_frame52['Dept-Hora'].apply( lambda x: x[0:2] + ':' + x[2:4])
df_frame52 = df_frame52[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p22 = df_frame52
p22

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
74,BOG,MAO,09/DEC/2023,09/DEC/2023,12:00,20:10,73X,6N191,6N192,,HH,000,-

In [177]:
df_frame52 = df_orig.query('KeyX == 2  & Key == 52 & Kdept == 10 & Karvl == 10').copy()
df_frame52['FlightNumberArvl'] = df_frame52['Arvl Sta']
df_frame52['FlightNumbeR'] = df_frame52['Dept Sta'].apply(lambda x: x[1:8])
df_frame52['Dept Sta'] = df_frame52['Arvl-Hora'].apply( lambda x: x[0:3])
df_frame52['Arvl Sta'] = df_frame52['Dept-Hora'].apply( lambda  x: x[4:7])
df_frame52['Arvl Day'] = df_frame52['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame52['Dept Day'] = df_frame52['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame52['Trilho'] = ''
df_frame52['Pax'] = df_frame52['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame52['Pax-Subfleet'] = df_frame52['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame52['Arvl-Hora'] = df_frame52['Arvl-Hora'].apply( lambda x: x[6:8] + ':' + x[8:10])
df_frame52['Dept-Hora'] = df_frame52['Dept-Hora'].apply( lambda x: x[0:2] + ':' + x[2:4])
df_frame52 = df_frame52[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p23 = df_frame52
p23

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
6432,MIA,MDE,05/DEC/2023,05/DEC/2023,22:30,21:10,76V,M38487,M3878,,FF,000,-

In [178]:
df_frame53 = df_orig.query('KeyX == 2  & Key == 53 & Kdept == 10 & Karvl == 10').copy()
df_frame53['FlightNumberArvl'] = df_frame53['Arvl Sta']
df_frame53['FlightNumbeR'] = df_frame53['Dept Sta'].apply(lambda x: x[1:8])
df_frame53['Dept Sta'] = df_frame53['Arvl-Hora'].apply( lambda x: x[0:3])
df_frame53['Arvl Sta'] = df_frame53['Dept-Hora'].apply( lambda  x: x[4:7])
df_frame53['Arvl Day'] = df_frame53['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame53['Dept Day'] = df_frame53['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame53['Trilho'] = ''
df_frame53['Pax'] = df_frame53['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame53['Pax-Subfleet'] = df_frame53['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame53['Arvl-Hora'] = df_frame53['Arvl-Hora'].apply( lambda x: x[6:8] + ':' + x[8:10])
df_frame53['Dept-Hora'] = df_frame53['Dept-Hora'].apply( lambda x: x[0:2] + ':' + x[2:4])
df_frame53 = df_frame53[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p24 = df_frame53
p24

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
6022,MIA,TFS,14/NOV/2023,14/NOV/2023,13:10,11:10,74N,CV5791,CV5791,,PH,000,-
6025,LUX,LUX,08/DEC/2023,08/DEC/2023,23:35,21:35,74N,CV6224,CV6225,,FF,000,-
6026,LUX,UIO,16/DEC/2023,16/DEC/2023,07:05,04:40,74N,CV6224,CV6225,,FP,000,-
6028,LUX,UIO,28/JAN/2023,28/JAN/2023,06:30,04:30,74Y,CV6224,CV6225,,PH,000,-
6029,LUX,UIO,04/FEB/2023,04/FEB/2023,06:00,04:00,74N,CV6224,CV6225,,FP,000,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6625,MIA,EZE,03/DEC/2023,03/DEC/2023,06:30,05:20,76V,UC1505,UC1505,,FF,000,-
6626,MIA,EZE,10/DEC/2023,10/DEC/2023,06:50,03:50,76V,UC1505,UC1505,,FF,000,-
6627,MIA,EZE,17/DEC/2023,17/DEC/2023,05:40,04:30,76V,UC1505,UC1505,,FF,000,-
6628,MIA,EZE,24/DEC/2023,24/DEC/2023,05:00,03:50,76V,UC1505,UC1505,,FF,000,-
6681,MIA,UIO,21/NOV/2023,21/NOV/2023,06:55,05:45,76V,UC1771,UC1771,,FF,000,-

In [179]:
df_frame54 = df_orig.query('KeyX == 2  & Key == 54 & Kdept == 11 & Karvl == 10').copy()
df_frame54['FlightNumberArvl'] = df_frame54['Arvl Sta']
df_frame54['FlightNumbeR'] = df_frame54['Dept Sta'].apply(lambda x: x[1:8])
df_frame54['Dept Sta'] = df_frame54['Arvl-Hora'].apply( lambda x: x[0:3])
df_frame54['Arvl Sta'] = df_frame54['Dept-Hora'].apply( lambda  x: x[5:8])
df_frame54['Arvl Day'] = df_frame54['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame54['Dept Day'] = df_frame54['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023')
df_frame54['Trilho'] = ''
df_frame54['Pax'] = df_frame54['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame54['Pax-Subfleet'] = df_frame54['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame54['Arvl-Hora'] = df_frame54['Arvl-Hora'].apply( lambda x: x[6:8] + ':' + x[8:10])
df_frame54['Dept-Hora'] = df_frame54['Dept-Hora'].apply( lambda x: x[0:2] + ':' + x[2:4])
df_frame54 = df_frame54[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p25 = df_frame54
p25

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
6023,LUX,LUX,03/NOV/2023,03/NOV/2023,00:10,22:10,74Y,CV6224,CV6225,,FF,000,-
6037,LUX,LUX,05/DEC/2023,05/DEC/2023,09:30,18:00,74Y,CV6227,CV6221,,AA,000,-
6050,GIG,UIO,30/JAN/2023,30/JAN/2023,05:05,21:30,74N,CV6361,CV6361,,FP,000,-
6052,GIG,UIO,20/FEB/2023,20/FEB/2023,17:25,21:30,74N,CV6361,CV6361,,FP,000,-
6055,MEX,GRU,01/NOV/2023,01/NOV/2023,00:45,13:55,74Y,CV6652,CV6662,,HA,000,-
6058,LUX,LUX,19/NOV/2023,19/NOV/2023,00:00,22:30,74N,CV6726,CV6727,,FF,000,-
6059,LUX,LUX,26/NOV/2023,26/NOV/2023,00:00,22:30,74Y,CV6726,CV6727,,FF,000,-
6060,LUX,LUX,03/DEC/2023,03/DEC/2023,00:00,22:30,74N,CV6726,CV6727,,FF,000,-
6374,MIA,MAO,15/DEC/2023,15/DEC/2023,00:15,22:45,76V,M38431,M38440,,FF,000,-
6389,MIA,UIO,05/NOV/2023,05/NOV/2023,00:15,23:00,76V,M38443,M38472,,FF,000,-
6397,MIA,UIO,31/DEC/2023,31/DEC/2023,00:15,23:00,76V,M38443,M38472,,FF,000,-
6426,MIA,BOG,18/DEC/2023,18/DEC/2023,00:35,21:45,76V,M38477,M38478,,FF,000,-
6689,MIA,BOG,22/DEC/2023,22/DEC/2023,04:30,23:25,76Y,W80925,W80926,,FF,000,-
6693,YHM,SCL,13/NOV/2023,13/NOV/2023,00:00,20:00,763,W81591,W81592,,HH,000,-

In [180]:
df_frame56 = df_orig.query('KeyX == 2  & Key == 56 & Kdept == 7 & Karvl == 7').copy()
df_frame56['FlightNumberArvl'] = df_frame56['Arvl Sta']
df_frame56['FlightNumbeR'] = df_frame56['Dept Sta'].apply(lambda x: x[1:8])
df_frame56['Dept Sta'] = df_frame56['Arvl-Hora'].apply( lambda x: x[0:3])
df_frame56['Arvl Sta'] = df_frame56['Dept-Hora'].apply( lambda  x: x[4:7])
df_frame56['Arvl Day'] = df_frame56['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame56['Dept Day'] = df_frame56['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame56['Trilho'] = ''
df_frame56['Pax'] = df_frame56['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame56['Pax-Subfleet'] = df_frame56['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame56['Arvl-Hora'] = df_frame56['Arvl-Hora'].apply( lambda x: x[3:5] + ':' + x[5:7])
df_frame56['Dept-Hora'] = df_frame56['Dept-Hora'].apply( lambda x: x[0:2] + ':' + x[2:4])
df_frame56 = df_frame56[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p26 = df_frame56
p26

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
4,EZE,MIA,10/NOV/2023 á 24/NOV/2023,10/NOV/2023 á 24/NOV/2023,13:30,09:25,76F,5X411,5X411,,FF,000,0004000
5,EZE,MIA,01/DEC/2023 á 29/DEC/2023,01/DEC/2023 á 29/DEC/2023,13:10,09:35,76F,5X411,5X411,,FF,000,0004000
6,EZE,MIA,05/JAN/2023 á 23/FEB/2023,05/JAN/2023 á 23/FEB/2023,13:00,09:35,76F,5X411,5X411,,FF,000,0004000
7,EZE,MIA,02/MAR/2023 á 09/MAR/2023,02/MAR/2023 á 09/MAR/2023,12:55,09:35,76F,5X411,5X411,,FF,000,0004000
13,EZE,MIA,12/NOV/2023 á 10/DEC/2023,12/NOV/2023 á 10/DEC/2023,13:20,08:30,76F,5X413,5X413,,FF,000,0000060
15,EZE,MIA,24/DEC/2023 á 14/JAN/2023,24/DEC/2023 á 14/JAN/2023,13:20,08:30,76F,5X413,5X413,,FF,000,0000060
16,EZE,MIA,21/JAN/2023 á 28/JAN/2023,21/JAN/2023 á 28/JAN/2023,14:25,08:30,76F,5X413,5X413,,FF,000,0000060
17,EZE,MIA,04/FEB/2023 á 11/MAR/2023,04/FEB/2023 á 11/MAR/2023,13:20,08:30,76F,5X413,5X413,,FF,000,0000060
32,EZE,MIA,09/NOV/2023 á 23/NOV/2023,09/NOV/2023 á 23/NOV/2023,13:30,09:25,76F,5X415,5X415,,FF,000,0030000
33,EZE,MIA,30/NOV/2023 á 21/DEC/2023,30/NOV/2023 á 21/DEC/2023,13:30,09:35,76F,5X415,5X415,,FF,000,0030000
36,EZE,MIA,11/JAN/2023 á 22/FEB/2023,11/JAN/2023 á 22/FEB/2023,13:00,09:35,76F,5X415,5X415,,FF,000,0030000
37,EZE,MIA,01/MAR/2023 á 08/MAR/2023,01/MAR/2023 á 08/MAR/2023,12:55,09:35,76F,5X415,5X415,,FF,000,0030000
47,EZE,MIA,27/DEC/2023 á 03/JAN/2023,27/DEC/2023 á 03/JAN/2023,06:00,04:45,76F,5X417,5X417,,FF,000,0200000
59,MIA,MIA,13/NOV/2023 á 20/NOV/2023,13/NOV/2023 á 20/NOV/2023,11:40,10:25,76F,5X444,5X445,,FF,000,0000007
60,MIA,MIA,27/NOV/2023 á 18/DEC/2023,27/NOV/2023 á 18/DEC/2023,14:25,10:25,76F,5X444,5X445,,FF,000,0000007
62,MIA,MIA,08/JAN/2023 á 19/MAR/2023,08/JAN/2023 á 19/MAR/2023,11:45,10:25,76F,5X444,5X445,,FF,000,0000007

In [181]:
df_frame57 = df_orig.query('KeyX == 2  & Key == 57 & Kdept == 8 & Karvl == 7').copy()
df_frame57['FlightNumberArvl'] = df_frame57['Arvl Sta']
df_frame57['FlightNumbeR'] = df_frame57['Dept Sta'].apply(lambda x: x[1:8])
df_frame57['Dept Sta'] = df_frame57['Arvl-Hora'].apply( lambda x: x[0:3])
df_frame57['Arvl Sta'] = df_frame57['Dept-Hora'].apply( lambda  x: x[5:8])
df_frame57['Arvl Day'] = df_frame57['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame57['Dept Day'] = df_frame57['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame57['Trilho'] = ''
df_frame57['Pax'] = df_frame57['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame57['Pax-Subfleet'] = df_frame57['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame57['Arvl-Hora'] = df_frame57['Arvl-Hora'].apply( lambda x: x[3:5] + ':' + x[5:7])
df_frame57['Dept-Hora'] = df_frame57['Dept-Hora'].apply( lambda x: x[0:2] + ':' + x[2:4])
df_frame57 = df_frame57[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p27 = df_frame57
p27

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
45,EZE,MIA,07/NOV/2023 á 05/DEC/2023,07/NOV/2023 á 05/DEC/2023,03:05,22:45,76F,5X417,5X417,,FF,000,1000000
46,EZE,MIA,12/DEC/2023 á 19/DEC/2023,12/DEC/2023 á 19/DEC/2023,03:35,22:45,76F,5X417,5X417,,FF,000,1000000
52,EZE,MIA,06/FEB/2023 á 13/FEB/2023,06/FEB/2023 á 13/FEB/2023,04:30,22:45,76F,5X417,5X417,,FF,000,1000000
6279,MIA,UIO,26/DEC/2023 á 02/JAN/2023,26/DEC/2023 á 02/JAN/2023,06:30,11:00,744,K4537,K4536,,HH,000,1000000
6283,MIA,MIA,18/JAN/2023 á 25/JAN/2023,18/JAN/2023 á 25/JAN/2023,05:30,14:30,744,K4537,K4536,,HH,000,0030000
6289,MIA,UIO,16/JAN/2023 á 30/JAN/2023,16/JAN/2023 á 30/JAN/2023,06:00,16:00,744,K4539,K4538,,HH,000,1000000

In [182]:
df_frame58 = df_orig.query('KeyX == 2  & Key == 58 & Kdept == 7 & Karvl == 7').copy()
df_frame58['FlightNumberArvl'] = df_frame58['Arvl Sta']
df_frame58['FlightNumbeR'] = df_frame58['Dept Sta'].apply(lambda x: x[1:8])
df_frame58['Dept Sta'] = df_frame58['Arvl-Hora'].apply( lambda x: x[0:3])
df_frame58['Arvl Sta'] = df_frame58['Dept-Hora'].apply( lambda  x: x[4:8])
df_frame58['Arvl Day'] = df_frame58['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame58['Dept Day'] = df_frame58['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame58['Trilho'] = ''
df_frame58['Pax'] = df_frame58['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame58['Pax-Subfleet'] = df_frame58['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame58['Arvl-Hora'] = df_frame58['Arvl-Hora'].apply( lambda x: x[3:5] + ':' + x[5:7])
df_frame58['Dept-Hora'] = df_frame58['Dept-Hora'].apply( lambda x: x[0:2] + ':' + x[2:4])
df_frame58 = df_frame58[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p28 = df_frame58
p28

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
63,MIA,SCL,04/NOV/2023 á 17/MAR/2023,04/NOV/2023 á 17/MAR/2023,19:00,15:50,744,5Y0021,5Y0022,,FF,000,0000500
64,MIA,MIA,04/NOV/2023 á 17/MAR/2023,04/NOV/2023 á 17/MAR/2023,19:55,16:55,74H,5Y0031,5Y0032,,FF,000,0000500
65,MIA,SCL,03/NOV/2023 á 23/MAR/2023,03/NOV/2023 á 23/MAR/2023,21:35,19:35,74H,5Y0045,5Y0046,,FF,000,0004000
67,MIA,UIO,05/NOV/2023 á 25/MAR/2023,05/NOV/2023 á 25/MAR/2023,16:10,14:10,744,5Y0057,5Y0058,,FF,000,0000060
68,MIA,SCL,05/NOV/2023 á 25/MAR/2023,05/NOV/2023 á 25/MAR/2023,06:35,04:35,744,5Y0061,5Y0062,,FF,000,0000060
69,MIA,LIM,02/NOV/2023 á 22/MAR/2023,02/NOV/2023 á 22/MAR/2023,16:10,14:10,744,5Y0063,5Y0064,,FF,000,0030000
73,MIA,BOG,31/OCT/2023 á 20/MAR/2023,31/OCT/2023 á 20/MAR/2023,13:55,11:55,744,5Y9533,5Y9534,,FF,000,1000000
6317,MIA,MDE,18/JAN/2023 á 22/MAR/2023,18/JAN/2023 á 22/MAR/2023,03:00,01:30,76V,L71819,L71819,,FF,000,0030000
6335,MIA,MDE,04/NOV/2023 á 11/NOV/2023,04/NOV/2023 á 11/NOV/2023,21:00,19:40,76V,L72841,L72841,,FF,000,0000500
6336,MIA,MDE,20/JAN/2023 á 24/MAR/2023,20/JAN/2023 á 24/MAR/2023,21:00,19:40,76V,L72841,L72841,,FF,000,0000500
6547,MIA,BOG,07/FEB/2023 á 21/MAR/2023,07/FEB/2023 á 21/MAR/2023,19:50,18:20,332,QT4051,QT4052,,FF,000,0200000
6551,MIA,SCL,16/NOV/2023 á 23/NOV/2023,16/NOV/2023 á 23/NOV/2023,21:15,19:45,332,QT4053,QT4054,,FF,000,0030000
6558,MIA,BOG,21/JAN/2023 á 28/JAN/2023,21/JAN/2023 á 28/JAN/2023,17:45,16:15,332,QT4053,QT4054,,FF,000,0000060
6559,MIA,BOG,01/FEB/2023 á 22/MAR/2023,01/FEB/2023 á 22/MAR/2023,19:50,18:20,332,QT4053,QT4054,,FF,000,0030000
6561,CWB,BOG,06/NOV/2023 á 27/NOV/2023,06/NOV/2023 á 27/NOV/2023,23:00,21:30,332,QT4055,QT4060,,FF,000,0000007
6574,CWB,BOG,08/JAN/2023 á 12/JAN/2023,08/JAN/2023 á 12/JAN/2023,23:45,22:15,332,QT4055,QT4060,,FF,000,0004007
6576,CWB,BOG,19/JAN/2023 á 29/JAN/2023,19/JAN/2023 á 29/JAN/2023,23:45,22:15,332,QT4055,QT4060,,FF,000,0004007
6579,CWB,BOG,02/FEB/2023 á 26/MAR/2023,02/FEB/2023 á 26/MAR/2023,18:20,16:40,332,QT4060,QT4060,,FF,000,0004007
6590,EZE,BOG,18/JAN/2023 á 25/JAN/2023,18/JAN/2023 á 25/JAN/2023,21:15,19:45,332,QT4099,QT4054,,FF,000,0030000
6653,MIA,SCL,14/NOV/2023 á 21/NOV/2023,14/NOV/2023 á 21/NOV/2023,15:20,14:10,76V,UC1527,UC1527,,FF,000,1000000
6673,MIA,SCL,18/JAN/2023 á 22/MAR/2023,18/JAN/2023 á 22/MAR/2023,11:55,09:55,76V,UC1731,UC1731,,FF,000,0030000

In [183]:
df_frame59 = df_orig.query('KeyX == 2  & Key == 59 & Kdept == 10 & Karvl == 7').copy()
df_frame59['FlightNumberArvl'] = df_frame59['Arvl Sta']
df_frame59['FlightNumbeR'] = df_frame59['Dept Sta'].apply(lambda x: x[1:8])
df_frame59['Dept Sta'] = df_frame59['Arvl-Hora'].apply( lambda x: x[0:3])
df_frame59['Arvl Sta'] = df_frame59['Dept-Hora'].apply( lambda  x: x[4:7])
df_frame59['Arvl Day'] = df_frame59['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame59['Dept Day'] = df_frame59['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame59['Trilho'] = ''
df_frame59['Pax'] = df_frame59['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame59['Pax-Subfleet'] = df_frame59['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame59['Arvl-Hora'] = df_frame59['Arvl-Hora'].apply( lambda x: x[3:5] + ':' + x[5:7])
df_frame59['Dept-Hora'] = df_frame59['Dept-Hora'].apply( lambda x: x[0:2] + ':' + x[2:4])
df_frame59 = df_frame59[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p29 = df_frame59
p29

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
1,MIA,SCL,09/NOV/2023 á 08/MAR/2023,09/NOV/2023 á 08/MAR/2023,22:20,19:55,76F,5X410,5X410,,FF,000,0030000
2,MIA,SCL,15/MAR/2023 á 22/MAR/2023,15/MAR/2023 á 22/MAR/2023,22:10,18:55,76F,5X410,5X410,,FF,000,0030000
8,EZE,BOG,16/MAR/2023 á 23/MAR/2023,16/MAR/2023 á 23/MAR/2023,10:50,09:15,76F,5X411,5X411,,FF,000,0004000
10,MIA,SCL,10/NOV/2023 á 09/MAR/2023,10/NOV/2023 á 09/MAR/2023,22:15,19:55,76F,5X412,5X412,,FF,000,0004000
11,MIA,SCL,16/MAR/2023 á 23/MAR/2023,16/MAR/2023 á 23/MAR/2023,22:15,18:55,76F,5X412,5X412,,FF,000,0004000
18,EZE,BOG,18/MAR/2023 á 25/MAR/2023,18/MAR/2023 á 25/MAR/2023,10:50,07:30,76F,5X413,5X413,,FF,000,0000060
20,MIA,SCL,08/NOV/2023 á 20/DEC/2023,08/NOV/2023 á 20/DEC/2023,22:10,20:45,76F,5X414,5X414,,FF,000,0200000
26,MIA,SCL,07/FEB/2023 á 14/FEB/2023,07/FEB/2023 á 14/FEB/2023,22:55,21:40,76F,5X414,5X414,,FF,000,0200000
30,MIA,SCL,14/MAR/2023 á 21/MAR/2023,14/MAR/2023 á 21/MAR/2023,22:10,19:50,76F,5X414,5X414,,FF,000,0200000
38,EZE,BOG,15/MAR/2023 á 22/MAR/2023,15/MAR/2023 á 22/MAR/2023,10:50,09:25,76F,5X415,5X415,,FF,000,0030000
40,MIA,SCL,06/NOV/2023 á 18/DEC/2023,06/NOV/2023 á 18/DEC/2023,19:20,17:30,76F,5X416,5X416,,FF,000,0000007
41,MIA,SCL,26/DEC/2023 á 02/JAN/2023,26/DEC/2023 á 02/JAN/2023,18:10,16:50,76F,5X416,5X416,,FF,000,1000000
42,MIA,SCL,08/JAN/2023 á 05/MAR/2023,08/JAN/2023 á 05/MAR/2023,19:20,17:30,76F,5X416,5X416,,FF,000,0000007
43,MIA,SCL,12/MAR/2023 á 19/MAR/2023,12/MAR/2023 á 19/MAR/2023,22:05,16:45,76F,5X416,5X416,,FF,000,0000007

In [184]:
df_frame59 = df_orig.query('KeyX == 2  & Key == 59 & Kdept == 8 & Karvl == 7').copy()
df_frame59['FlightNumberArvl'] = df_frame59['Arvl Sta']
df_frame59['FlightNumbeR'] = df_frame59['Dept Sta'].apply(lambda x: x[1:8])
df_frame59['Dept Sta'] = df_frame59['Arvl-Hora'].apply( lambda x: x[0:3])
df_frame59['Arvl Sta'] = df_frame59['Dept-Hora'].apply( lambda  x: x[5:8])
df_frame59['Arvl Day'] = df_frame59['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame59['Dept Day'] = df_frame59['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame59['Trilho'] = ''
df_frame59['Pax'] = df_frame59['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame59['Pax-Subfleet'] = df_frame59['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame59['Arvl-Hora'] = df_frame59['Arvl-Hora'].apply( lambda x: x[3:5] + ':' + x[5:7])
df_frame59['Dept-Hora'] = df_frame59['Dept-Hora'].apply( lambda x: x[0:2] + ':' + x[2:4])
df_frame59 = df_frame59[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p30 = df_frame59
p30

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
66,MIA,SCL,30/OCT/2023 á 19/MAR/2023,30/OCT/2023 á 19/MAR/2023,01:20,23:20,744,5Y0055,5Y0056,,FF,000,0000007
70,MIA,BOG,03/NOV/2023 á 23/MAR/2023,03/NOV/2023 á 23/MAR/2023,00:10,22:10,744,5Y0075,5Y0076,,FF,000,0004000
6340,MIA,BOG,21/JAN/2023 á 25/MAR/2023,21/JAN/2023 á 25/MAR/2023,00:50,23:40,76V,L72861,L72861,,FF,000,0000060
6344,MIA,BOG,31/OCT/2023 á 07/NOV/2023,31/OCT/2023 á 07/NOV/2023,00:40,23:30,76V,L72893,L72893,,FF,000,1000000
6567,CWB,BOG,04/DEC/2023 á 11/DEC/2023,04/DEC/2023 á 11/DEC/2023,00:15,22:35,332,QT4055,QT4060,,FF,000,0000007

In [185]:
df_frame60 = df_orig.query('KeyX == 2  & Key == 60 & Kdept == 11 & Karvl == 7').copy()
df_frame60['FlightNumberArvl'] = df_frame60['Arvl Sta']
df_frame60['FlightNumbeR'] = df_frame60['Dept Sta'].apply(lambda x: x[1:8])
df_frame60['Dept Sta'] = df_frame60['Arvl-Hora'].apply( lambda x: x[0:3])
df_frame60['Arvl Sta'] = df_frame60['Dept-Hora'].apply( lambda  x: x[5:8])
df_frame60['Arvl Day'] = df_frame60['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame60['Dept Day'] = df_frame60['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame60['Trilho'] = ''
df_frame60['Pax'] = df_frame60['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame60['Pax-Subfleet'] = df_frame60['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame60['Arvl-Hora'] = df_frame60['Arvl-Hora'].apply( lambda x: x[3:5] + ':' + x[5:7])
df_frame60['Dept-Hora'] = df_frame60['Dept-Hora'].apply( lambda x: x[0:2] + ':' + x[2:4])
df_frame60 = df_frame60[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p31 = df_frame60
p31

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
21,MIA,SCL,27/DEC/2023 á 03/JAN/2023,27/DEC/2023 á 03/JAN/2023,00:25,23:15,76F,5X414,5X414,,FF,000,0200000
56,EZE,BOG,13/MAR/2023 á 20/MAR/2023,13/MAR/2023 á 20/MAR/2023,00:10,21:40,76F,5X417,5X417,,FF,000,1000000

In [186]:
df_frame60 = df_orig.query('KeyX == 2  & Key == 60 & Kdept == 7 & Karvl == 7').copy()
df_frame60['FlightNumberArvl'] = df_frame60['Arvl Sta']
df_frame60['FlightNumbeR'] = df_frame60['Dept Sta'].apply(lambda x: x[1:8])
df_frame60['Dept Sta'] = df_frame60['Arvl-Hora'].apply( lambda x: x[0:3])
df_frame60['Arvl Sta'] = df_frame60['Dept-Hora'].apply( lambda  x: x[4:8])
df_frame60['Arvl Day'] = df_frame60['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame60['Dept Day'] = df_frame60['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame60['Trilho'] = ''
df_frame60['Pax'] = df_frame60['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame60['Pax-Subfleet'] = df_frame60['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame60['Arvl-Hora'] = df_frame60['Arvl-Hora'].apply( lambda x: x[3:5] + ':' + x[5:7])
df_frame60['Dept-Hora'] = df_frame60['Dept-Hora'].apply( lambda x: x[0:2] + ':' + x[2:4])
df_frame60 = df_frame60[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p32 = df_frame60
p32

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
6267,EZE,FRA,31/OCT/2023 á 13/MAR/2023,31/OCT/2023 á 13/MAR/2023,19:20,17:20,77X,GEC8267,GEC8267,,FF,000,1000000

In [187]:
df_frame61 = df_orig.query('KeyX == 2  & Key == 61 & Kdept == 10 & Karvl == 7').copy()
df_frame61['FlightNumberArvl'] = df_frame61['Arvl Sta']
df_frame61['FlightNumbeR'] = df_frame61['Dept Sta'].apply(lambda x: x[1:8])
df_frame61['Dept Sta'] = df_frame61['Arvl-Hora'].apply( lambda x: x[0:3])
df_frame61['Arvl Sta'] = df_frame61['Dept-Hora'].apply( lambda  x: x[4:7])
df_frame61['Arvl Day'] = df_frame61['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame61['Dept Day'] = df_frame61['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame61['Trilho'] = ''
df_frame61['Pax'] = df_frame61['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame61['Pax-Subfleet'] = df_frame61['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame61['Arvl-Hora'] = df_frame61['Arvl-Hora'].apply( lambda x: x[3:5] + ':' + x[5:7])
df_frame61['Dept-Hora'] = df_frame61['Dept-Hora'].apply( lambda x: x[0:2] + ':' + x[2:4])
df_frame61 = df_frame61[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p33 = df_frame61
p33

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
6342,MIA,UIO,13/NOV/2023 á 20/NOV/2023,13/NOV/2023 á 20/NOV/2023,21:45,20:25,76V,L72871,L72871,,FF,000,0000007
6343,MIA,UIO,08/JAN/2023 á 19/MAR/2023,08/JAN/2023 á 19/MAR/2023,21:45,20:25,76V,L72871,L72871,,FF,000,0000007
6345,MIA,AGT,05/DEC/2023 á 12/DEC/2023,05/DEC/2023 á 12/DEC/2023,10:25,09:15,76V,L72897,L72897,,FF,000,1000000
6347,MIA,AGT,23/JAN/2023 á 20/MAR/2023,23/JAN/2023 á 20/MAR/2023,10:25,09:15,76V,L72897,L72897,,FF,000,1000000

In [188]:
df_frame61 = df_orig.query('KeyX == 2  & Key == 61 & Kdept == 7 & Karvl == 10').copy()
df_frame61['FlightNumberArvl'] = df_frame61['Arvl Sta']
df_frame61['FlightNumbeR'] = df_frame61['Dept Sta'].apply(lambda x: x[1:8])
df_frame61['Dept Sta'] = df_frame61['Arvl-Hora'].apply( lambda x: x[0:3])
df_frame61['Arvl Sta'] = df_frame61['Dept-Hora'].apply( lambda  x: x[4:7])
df_frame61['Arvl Day'] = df_frame61['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame61['Dept Day'] = df_frame61['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame61['Trilho'] = ''
df_frame61['Pax'] = df_frame61['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame61['Pax-Subfleet'] = df_frame61['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame61['Arvl-Hora'] = df_frame61['Arvl-Hora'].apply( lambda x: x[6:8] + ':' + x[8:10])
df_frame61['Dept-Hora'] = df_frame61['Dept-Hora'].apply( lambda x: x[0:2] + ':' + x[2:4])
df_frame60 = df_frame61[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p34 = df_frame61
p34

,Dept Sta,Arvl Sta,Dept Day,Week-Day,Pax-Subfleet,Arvl-Hora,Dept-Hora,Svc Type,FlightNumbeR,FlightNumberArvl,Concatenar,Key,KeyX,Kdept,Karvl,Arvl Day,Trilho,Pax
6333,BOG,UIO,19/JAN/2023 á 23/MAR/2023,0004000,76V,06:50,08:00,FF,L72831,L72831,L72831HL7283119JAN23MAR000400000076V00076VBOGM...,61,2,7,10,19/JAN/2023 á 23/MAR/2023,,000
6418,MIA,GRU,05/DEC/2023 á 12/DEC/2023,1000000,76V,19:00,20:10,FF,M38473,M38473,M38473HM3847305DEC12DEC100000000076V00076VMIAC...,61,2,7,10,05/DEC/2023 á 12/DEC/2023,,000
6421,MIA,GRU,23/JAN/2023 á 20/MAR/2023,1000000,76V,19:00,20:10,FF,M38473,M38473,M38473HM3847323JAN20MAR100000000076V00076VMIAC...,61,2,7,10,23/JAN/2023 á 20/MAR/2023,,000
6528,DOH,SCL,03/NOV/2023 á 22/DEC/2023,0004000,77X,19:40,21:30,FF,QR8133,QR8133,QR8133HQR813303NOV22DEC000400000077X00077XDOHL...,61,2,7,10,03/NOV/2023 á 22/DEC/2023,,000
6529,DOH,SCL,05/JAN/2023 á 23/MAR/2023,0004000,77X,19:40,21:45,FF,QR8133,QR8133,QR8133HQR813305JAN23MAR000400000077X00077XDOHL...,61,2,7,10,05/JAN/2023 á 23/MAR/2023,,000
6533,DOH,SCL,20/NOV/2023 á 25/DEC/2023,0000007,77X,21:10,22:55,FF,QR8147,QR8147,QR8147HQR814720NOV25DEC000000700077X00077XDOHL...,61,2,7,10,20/NOV/2023 á 25/DEC/2023,,000
6534,DOH,SCL,08/JAN/2023 á 19/MAR/2023,0000007,77X,21:10,22:55,FF,QR8147,QR8147,QR8147HQR814708JAN19MAR000000700077X00077XDOHL...,61,2,7,10,08/JAN/2023 á 19/MAR/2023,,000
6599,MIA,SCL,17/JAN/2023 á 21/MAR/2023,0200000,76V,05:30,06:40,FF,UC1501,UC1501,UC1501HUC150117JAN21MAR020000000076V00076VMIAS...,61,2,7,10,17/JAN/2023 á 21/MAR/2023,,000
6609,MIA,SCL,18/JAN/2023 á 22/MAR/2023,0030000,76V,04:40,05:50,FF,UC1502,UC1502,UC1502HUC150218JAN22MAR003000000076V00076VMIAS...,61,2,7,10,18/JAN/2023 á 22/MAR/2023,,000
6621,MIA,SCL,19/JAN/2023 á 23/MAR/2023,0004000,76V,06:40,07:50,FF,UC1503,UC1503,UC1503HUC150319JAN23MAR000400000076V00076VMIAS...,61,2,7,10,19/JAN/2023 á 23/MAR/2023,,000
6632,MIA,SCL,13/NOV/2023 á 20/NOV/2023,0000007,76V,04:30,05:40,FF,UC1506,UC1506,UC1506HUC150613NOV20NOV000000700076V00076VMIAS...,61,2,7,10,13/NOV/2023 á 20/NOV/2023,,000
6637,MIA,SCL,08/JAN/2023 á 19/MAR/2023,0000007,76V,04:30,05:40,FF,UC1506,UC1506,UC1506HUC150608JAN19MAR000000700076V00076VMIAS...,61,2,7,10,08/JAN/2023 á 19/MAR/2023,,000
6639,MIA,SCL,07/NOV/2023 á 14/NOV/2023,1000000,76V,04:30,05:40,FF,UC1507,UC1507,UC1507HUC150707NOV14NOV100000000076V00076VMIAS...,61,2,7,10,07/NOV/2023 á 14/NOV/2023,,000
6650,MIA,SCL,23/JAN/2023 á 20/MAR/2023,1000000,76V,04:30,05:40,FF,UC1507,UC1507,UC1507HUC150723JAN20MAR100000000076V00076VMIAS...,61,2,7,10,23/JAN/2023 á 20/MAR/2023,,000

In [189]:
df_frame62 = df_orig.query('KeyX == 2  & Key == 62 & Kdept == 10 & Karvl == 10').copy()
df_frame62['FlightNumberArvl'] = df_frame62['Arvl Sta']
df_frame62['FlightNumbeR'] = df_frame62['Dept Sta'].apply(lambda x: x[1:8])
df_frame62['Dept Sta'] = df_frame62['Arvl-Hora'].apply( lambda x: x[0:3])
df_frame62['Arvl Sta'] = df_frame62['Dept-Hora'].apply( lambda  x: x[4:7])
df_frame62['Arvl Day'] = df_frame62['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame62['Dept Day'] = df_frame62['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame62['Trilho'] = ''
df_frame62['Pax'] = df_frame62['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame62['Pax-Subfleet'] = df_frame62['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame62['Arvl-Hora'] = df_frame62['Arvl-Hora'].apply( lambda x: x[6:8] + ':' + x[8:10])
df_frame62['Dept-Hora'] = df_frame62['Dept-Hora'].apply( lambda x: x[0:2] + ':' + x[2:4])
df_frame62 = df_frame62[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p35 = df_frame62
p35

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
6290,MIA,SCL,30/OCT/2023 á 18/DEC/2023,30/OCT/2023 á 18/DEC/2023,21:35,19:35,77X,KE273,KE274,,FF,000,0000067
6291,MIA,SCL,03/NOV/2023 á 23/MAR/2023,03/NOV/2023 á 23/MAR/2023,20:45,18:30,77X,KE273,KE274,,FF,000,0004000
6292,MIA,SCL,25/DEC/2023 á 19/MAR/2023,25/DEC/2023 á 19/MAR/2023,21:35,19:35,77X,KE273,KE274,,FF,000,0000007
6293,MIA,SCL,07/JAN/2023 á 14/JAN/2023,07/JAN/2023 á 14/JAN/2023,21:35,19:35,77X,KE273,KE274,,FF,000,0000060
6294,MIA,SCL,04/FEB/2023 á 18/MAR/2023,04/FEB/2023 á 18/MAR/2023,21:35,19:35,77X,KE273,KE274,,FF,000,0000060

In [190]:
df_frame64 = df_orig.query('KeyX == 2  & Key == 64 & Kdept == 10 & Karvl == 10').copy()
df_frame64['FlightNumberArvl'] = df_frame64['Arvl Sta']
df_frame64['FlightNumbeR'] = df_frame64['Dept Sta'].apply(lambda x: x[1:8])
df_frame64['Dept Sta'] = df_frame64['Arvl-Hora'].apply( lambda x: x[0:3])
df_frame64['Arvl Sta'] = df_frame64['Dept-Hora'].apply( lambda  x: x[4:7])
df_frame64['Arvl Day'] = df_frame64['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame64['Dept Day'] = df_frame64['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame64['Trilho'] = ''
df_frame64['Pax'] = df_frame64['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame64['Pax-Subfleet'] = df_frame64['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame64['Arvl-Hora'] = df_frame64['Arvl-Hora'].apply( lambda x: x[6:8] + ':' + x[8:10])
df_frame64['Dept-Hora'] = df_frame64['Dept-Hora'].apply( lambda x: x[0:2] + ':' + x[2:4])
df_frame64 = df_frame64[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p36 = df_frame64
p36

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
6024,LUX,LUX,11/NOV/2023 á 02/DEC/2023,11/NOV/2023 á 02/DEC/2023,07:05,04:40,74Y,CV6224,CV6225,,FF,000,0000500
6027,LUX,LUX,13/JAN/2023 á 20/JAN/2023,13/JAN/2023 á 20/JAN/2023,07:05,04:40,74Y,CV6224,CV6225,,FF,000,0000500
6032,LUX,LUX,24/FEB/2023 á 24/MAR/2023,24/FEB/2023 á 24/MAR/2023,07:05,04:40,74Y,CV6224,CV6225,,FF,000,0000500
6034,LUX,LUX,31/OCT/2023 á 07/NOV/2023,31/OCT/2023 á 07/NOV/2023,02:40,00:40,74Y,CV6227,CV6221,,AA,000,1000000
6036,LUX,LUX,21/NOV/2023 á 28/NOV/2023,21/NOV/2023 á 28/NOV/2023,02:40,00:40,74Y,CV6227,CV6221,,AA,000,1000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6518,AMS,SCL,12/NOV/2023 á 24/DEC/2023,12/NOV/2023 á 24/DEC/2023,08:30,05:45,74Y,MP7551,MP7552,,FF,000,0000060
6520,AMS,SCL,14/JAN/2023 á 25/MAR/2023,14/JAN/2023 á 25/MAR/2023,08:30,05:45,74Y,MP7551,MP7552,,FF,000,0000060
6521,AMS,LIM,30/OCT/2023 á 06/NOV/2023,30/OCT/2023 á 06/NOV/2023,08:30,06:30,74Y,MP7761,MP7762,,FF,000,0000007
6522,AMS,LIM,20/NOV/2023 á 25/DEC/2023,20/NOV/2023 á 25/DEC/2023,08:30,06:30,74Y,MP7761,MP7762,,FF,000,0000007
6524,AMS,LIM,08/JAN/2023 á 19/MAR/2023,08/JAN/2023 á 19/MAR/2023,08:30,06:30,74Y,MP7761,MP7762,,FF,000,0000007

In [191]:
df_frame64 = df_orig.query('KeyX == 2  & Key == 64 & Kdept == 11 & Karvl == 7').copy()
df_frame64['FlightNumberArvl'] = df_frame64['Arvl Sta']
df_frame64['FlightNumbeR'] = df_frame64['Dept Sta'].apply(lambda x: x[1:8])
df_frame64['Dept Sta'] = df_frame64['Arvl-Hora'].apply( lambda x: x[0:3])
df_frame64['Arvl Sta'] = df_frame64['Dept-Hora'].apply( lambda  x: x[5:8])
df_frame64['Arvl Day'] = df_frame64['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame64['Dept Day'] = df_frame64['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame64['Trilho'] = ''
df_frame64['Pax'] = df_frame64['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame64['Pax-Subfleet'] = df_frame64['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame64['Arvl-Hora'] = df_frame64['Arvl-Hora'].apply( lambda x: x[3:5] + ':' + x[5:7] )
df_frame64['Dept-Hora'] = df_frame64['Dept-Hora'].apply( lambda x: x[0:2] + ':' + x[2:4])
df_frame64 = df_frame64[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p37 = df_frame64
p37

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
6262,FRA,MVD,02/NOV/2023 á 21/DEC/2023,02/NOV/2023 á 21/DEC/2023,04:40,23:40,77X,GEC8264,GEC8264,,FF,000,0030000
6263,FRA,MVD,04/NOV/2023 á 23/DEC/2023,04/NOV/2023 á 23/DEC/2023,04:30,23:25,77X,GEC8264,GEC8264,,FF,000,0000500
6264,FRA,MVD,04/JAN/2023 á 22/MAR/2023,04/JAN/2023 á 22/MAR/2023,04:40,23:40,77X,GEC8264,GEC8264,,FF,000,0030000
6265,FRA,MVD,13/JAN/2023 á 10/MAR/2023,13/JAN/2023 á 10/MAR/2023,04:30,23:25,77X,GEC8264,GEC8264,,FF,000,0000500

In [192]:
df_frame65 = df_orig.query('KeyX == 2  & Key == 65 & Kdept == 11 & Karvl == 10').copy()
df_frame65['FlightNumberArvl'] = df_frame65['Arvl Sta']
df_frame65['FlightNumbeR'] = df_frame65['Dept Sta'].apply(lambda x: x[1:8])
df_frame65['Dept Sta'] = df_frame65['Arvl-Hora'].apply( lambda x: x[0:3])
df_frame65['Arvl Sta'] = df_frame65['Dept-Hora'].apply( lambda  x: x[5:8])
df_frame65['Arvl Day'] = df_frame65['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame65['Dept Day'] = df_frame65['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame65['Trilho'] = ''
df_frame65['Pax'] = df_frame65['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame65['Pax-Subfleet'] = df_frame65['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame65['Arvl-Hora'] = df_frame65['Arvl-Hora'].apply( lambda x: x[6:8] + ':' + x[8:10] )
df_frame65['Dept-Hora'] = df_frame65['Dept-Hora'].apply( lambda x: x[0:2] + ':' + x[2:4])
df_frame65 = df_frame65[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p38 = df_frame65
p38

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
6057,LUX,LUX,05/NOV/2023 á 12/NOV/2023,05/NOV/2023 á 12/NOV/2023,00:00,22:30,74Y,CV6726,CV6727,,FF,000,0000060
6061,LUX,LUX,10/DEC/2023 á 11/FEB/2023,10/DEC/2023 á 11/FEB/2023,00:00,22:30,74Y,CV6726,CV6727,,FF,000,0000060
6063,LUX,LUX,25/FEB/2023 á 18/MAR/2023,25/FEB/2023 á 18/MAR/2023,00:00,22:30,74Y,CV6726,CV6727,,FF,000,0000060
6082,MEM,MEM,09/JAN/2023 á 30/JAN/2023,09/JAN/2023 á 30/JAN/2023,17:45,14:00,76F,FX0042,FX0041,,FF,000,1000000
6379,MIA,MAO,19/JAN/2023 á 23/MAR/2023,19/JAN/2023 á 23/MAR/2023,00:15,22:45,76V,M38431,M38440,,FF,000,0004000
6400,MIA,UIO,21/JAN/2023 á 25/MAR/2023,21/JAN/2023 á 25/MAR/2023,00:15,23:00,76V,M38443,M38472,,FF,000,0000060
6423,MIA,UIO,13/NOV/2023 á 20/NOV/2023,13/NOV/2023 á 20/NOV/2023,00:25,22:50,76V,M38477,M38478,,FF,000,0000007
6427,MIA,UIO,25/DEC/2023 á 19/MAR/2023,25/DEC/2023 á 19/MAR/2023,00:25,22:50,76V,M38477,M38478,,FF,000,0000007
6688,YVR,BOG,30/OCT/2023 á 21/DEC/2023,30/OCT/2023 á 21/DEC/2023,04:30,23:25,76Y,W80925,W80926,,HH,000,1234507
6690,YVR,BOG,25/DEC/2023 á 23/MAR/2023,25/DEC/2023 á 23/MAR/2023,04:30,23:25,76Y,W80925,W80926,,HH,000,1234007
6691,YVR,BOG,06/JAN/2023 á 24/MAR/2023,06/JAN/2023 á 24/MAR/2023,04:30,23:25,76Y,W80925,W80926,,HH,000,0000500

In [193]:
df_frame66 = df_orig.query('KeyX == 2  & Key == 67 & Kdept == 11 & Karvl == 10').copy()
df_frame66['FlightNumberArvl'] = df_frame66['Arvl Sta']
df_frame66['FlightNumbeR'] = df_frame66['Dept Sta'].apply(lambda x: x[1:8])
df_frame66['Dept Sta'] = df_frame66['Arvl-Hora'].apply( lambda x: x[0:3])
df_frame66['Arvl Sta'] = df_frame66['Dept-Hora'].apply( lambda  x: x[5:8])
df_frame66['Arvl Day'] = df_frame66['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame66['Dept Day'] = df_frame66['Dept Day'].apply(lambda x: x[0:2] + '/' + x[2:5] + '/' + '2023' + ' á ' + x[5:7] + '/' + x[7:10] + '/' + '2023')
df_frame66['Trilho'] = ''
df_frame66['Pax'] = df_frame66['Pax-Subfleet'].apply( lambda x: x[0:3])
df_frame66['Pax-Subfleet'] = df_frame66['Pax-Subfleet'].apply(lambda x: x[3:6])
df_frame66['Arvl-Hora'] = df_frame66['Arvl-Hora'].apply( lambda x: x[6:8] + ':' + x[8:10] )
df_frame66['Dept-Hora'] = df_frame66['Dept-Hora'].apply( lambda x: x[0:2] + ':' + x[2:4])
df_frame66 = df_frame66[['Dept Sta', 'Arvl Sta', 'Dept Day', 'Arvl Day', 'Dept-Hora', 'Arvl-Hora','Pax-Subfleet','FlightNumbeR','FlightNumberArvl', 'Trilho','Svc Type', 'Pax', 'Week-Day']]
p39 = df_frame66
p39

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
6260,FRA,REC,05/NOV/2023 á 18/MAR/2023,05/NOV/2023 á 18/MAR/2023,00:20,22:20,77X,GEC8254,GEC8255,,FF,000,0000060

In [194]:
df_concat1 = pd.concat([p1, p2, p3, p40, p5, p6, p7, p8, p9, p10])
df_concat1

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
77,VCP,MAO,30/OCT/2023 á 01/NOV/2023,30/OCT/2023 á 01/NOV/2023,06:45,00:00,73P,AD2002,NaN,,F,000,0200007
80,VCP,MAO,03/NOV/2023 á 04/NOV/2023,03/NOV/2023 á 04/NOV/2023,05:20,00:00,73P,AD2002,NaN,,F,000,0004500
81,VCP,MAO,05/NOV/2023 á 22/NOV/2023,05/NOV/2023 á 22/NOV/2023,07:00,00:00,73P,AD2002,NaN,,F,000,0200067
82,VCP,MAO,07/NOV/2023 á 21/NOV/2023,07/NOV/2023 á 21/NOV/2023,08:00,00:00,73P,AD2002,NaN,,F,000,1030000
85,VCP,MAO,17/NOV/2023 á 23/NOV/2023,17/NOV/2023 á 23/NOV/2023,07:00,00:00,73P,AD2002,NaN,,F,000,0034000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1754,PHB,VCP,09/JAN/2023 á 13/FEB/2023,09/JAN/2023 á 13/FEB/2023,00:00,20:50,295,NaN,AD2904,,J,136,1000500
1755,JJD,VCP,08/FEB/2023 á 15/FEB/2023,08/FEB/2023 á 15/FEB/2023,00:00,20:10,295,NaN,AD2904,,J,136,0030000
1757,PHB,VCP,24/FEB/2023 á 27/FEB/2023,24/FEB/2023 á 27/FEB/2023,00:00,20:50,295,NaN,AD2904,,J,136,1000500
1801,CWB,VCP,03/NOV/2023 á 06/NOV/2023,03/NOV/2023 á 06/NOV/2023,00:00,18:15,E95,NaN,AD2916,,J,118,0004507
1805,CWB,VCP,20/NOV/2023 á 27/NOV/2023,20/NOV/2023 á 27/NOV/2023,00:00,18:15,E95,NaN,AD2916,,J,118,0000007

In [195]:
df_concat2 = pd.concat([p11, p12, p13, p14, p15, p16, p17, p18, p19, p20])
df_concat2

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
14,EZE,MIA,17/DEC/2023,17/DEC/2023,14:25,08:30,76F,5X413,5X413,,FF,000,-
34,EZE,MIA,28/DEC/2023,28/DEC/2023,13:10,11:25,76F,5X415,5X415,,FF,000,-
35,EZE,MIA,04/JAN/2023,04/JAN/2023,13:00,11:25,76F,5X415,5X415,,FF,000,-
57,MIA,MIA,30/OCT/2023,30/OCT/2023,09:40,07:35,76F,5X444,5X445,,FF,000,-
58,MIA,MIA,06/NOV/2023,06/NOV/2023,10:40,07:35,76F,5X444,5X445,,FF,000,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6663,MIA,SCL,29/NOV/2023,29/NOV/2023,21:10,20:00,76V,UC1721,UC1721,,FF,000,-
6664,MIA,SCL,06/DEC/2023,06/DEC/2023,22:55,21:45,76V,UC1721,UC1721,,FF,000,-
6665,MIA,SCL,11/JAN/2023,11/JAN/2023,08:20,07:10,76V,UC1721,UC1721,,FF,000,-
6680,SCL,UIO,14/NOV/2023,14/NOV/2023,05:40,04:30,76V,UC1771,UC1771,,FF,000,-
6684,MIA,SCL,07/DEC/2023,07/DEC/2023,06:45,05:35,76V,UC1905,UC1905,,FF,000,-

In [196]:
df_concat3 = pd.concat([p21, p22, p23, p24, p25, p26, p27, p28, p29, p30])
df_concat3

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day
6350,MAO,CCS,12/JAN/2023,12/JAN/2023,04:30,12:45,76V,M36577,M38430,,FF,000,-
74,BOG,MAO,09/DEC/2023,09/DEC/2023,12:00,20:10,73X,6N191,6N192,,HH,000,-
6432,MIA,MDE,05/DEC/2023,05/DEC/2023,22:30,21:10,76V,M38487,M3878,,FF,000,-
6022,MIA,TFS,14/NOV/2023,14/NOV/2023,13:10,11:10,74N,CV5791,CV5791,,PH,000,-
6025,LUX,LUX,08/DEC/2023,08/DEC/2023,23:35,21:35,74N,CV6224,CV6225,,FF,000,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,MIA,SCL,30/OCT/2023 á 19/MAR/2023,30/OCT/2023 á 19/MAR/2023,01:20,23:20,744,5Y0055,5Y0056,,FF,000,0000007
70,MIA,BOG,03/NOV/2023 á 23/MAR/2023,03/NOV/2023 á 23/MAR/2023,00:10,22:10,744,5Y0075,5Y0076,,FF,000,0004000
6340,MIA,BOG,21/JAN/2023 á 25/MAR/2023,21/JAN/2023 á 25/MAR/2023,00:50,23:40,76V,L72861,L72861,,FF,000,0000060
6344,MIA,BOG,31/OCT/2023 á 07/NOV/2023,31/OCT/2023 á 07/NOV/2023,00:40,23:30,76V,L72893,L72893,,FF,000,1000000
6567,CWB,BOG,04/DEC/2023 á 11/DEC/2023,04/DEC/2023 á 11/DEC/2023,00:15,22:35,332,QT4055,QT4060,,FF,000,0000007

In [197]:
df_concat4 = pd.concat([p31, p32, p33, p34, p35, p36, p37, p38, p39])
df_concat4

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day,Concatenar,Key,KeyX,Kdept,Karvl
21,MIA,SCL,27/DEC/2023 á 03/JAN/2023,27/DEC/2023 á 03/JAN/2023,00:25,23:15,76F,5X414,5X414,,FF,000,0200000,NaN,NaN,NaN,NaN,NaN
56,EZE,BOG,13/MAR/2023 á 20/MAR/2023,13/MAR/2023 á 20/MAR/2023,00:10,21:40,76F,5X417,5X417,,FF,000,1000000,NaN,NaN,NaN,NaN,NaN
6267,EZE,FRA,31/OCT/2023 á 13/MAR/2023,31/OCT/2023 á 13/MAR/2023,19:20,17:20,77X,GEC8267,GEC8267,,FF,000,1000000,NaN,NaN,NaN,NaN,NaN
6342,MIA,UIO,13/NOV/2023 á 20/NOV/2023,13/NOV/2023 á 20/NOV/2023,21:45,20:25,76V,L72871,L72871,,FF,000,0000007,NaN,NaN,NaN,NaN,NaN
6343,MIA,UIO,08/JAN/2023 á 19/MAR/2023,08/JAN/2023 á 19/MAR/2023,21:45,20:25,76V,L72871,L72871,,FF,000,0000007,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6427,MIA,UIO,25/DEC/2023 á 19/MAR/2023,25/DEC/2023 á 19/MAR/2023,00:25,22:50,76V,M38477,M38478,,FF,000,0000007,NaN,NaN,NaN,NaN,NaN
6688,YVR,BOG,30/OCT/2023 á 21/DEC/2023,30/OCT/2023 á 21/DEC/2023,04:30,23:25,76Y,W80925,W80926,,HH,000,1234507,NaN,NaN,NaN,NaN,NaN
6690,YVR,BOG,25/DEC/2023 á 23/MAR/2023,25/DEC/2023 á 23/MAR/2023,04:30,23:25,76Y,W80925,W80926,,HH,000,1234007,NaN,NaN,NaN,NaN,NaN
6691,YVR,BOG,06/JAN/2023 á 24/MAR/2023,06/JAN/2023 á 24/MAR/2023,04:30,23:25,76Y,W80925,W80926,,HH,000,0000500,NaN,NaN,NaN,NaN,NaN
6260,FRA,REC,05/NOV/2023 á 18/MAR/2023,05/NOV/2023 á 18/MAR/2023,00:20,22:20,77X,GEC8254,GEC8255,,FF,000,0000060,NaN,NaN,NaN,NaN,NaN

In [198]:
df_geral = pd.concat([df_concat1, df_concat2, df_concat3, df_concat4])
df_geral

,Dept Sta,Arvl Sta,Dept Day,Arvl Day,Dept-Hora,Arvl-Hora,Pax-Subfleet,FlightNumbeR,FlightNumberArvl,Trilho,Svc Type,Pax,Week-Day,Concatenar,Key,KeyX,Kdept,Karvl
77,VCP,MAO,30/OCT/2023 á 01/NOV/2023,30/OCT/2023 á 01/NOV/2023,06:45,00:00,73P,AD2002,NaN,,F,000,0200007,NaN,NaN,NaN,NaN,NaN
80,VCP,MAO,03/NOV/2023 á 04/NOV/2023,03/NOV/2023 á 04/NOV/2023,05:20,00:00,73P,AD2002,NaN,,F,000,0004500,NaN,NaN,NaN,NaN,NaN
81,VCP,MAO,05/NOV/2023 á 22/NOV/2023,05/NOV/2023 á 22/NOV/2023,07:00,00:00,73P,AD2002,NaN,,F,000,0200067,NaN,NaN,NaN,NaN,NaN
82,VCP,MAO,07/NOV/2023 á 21/NOV/2023,07/NOV/2023 á 21/NOV/2023,08:00,00:00,73P,AD2002,NaN,,F,000,1030000,NaN,NaN,NaN,NaN,NaN
85,VCP,MAO,17/NOV/2023 á 23/NOV/2023,17/NOV/2023 á 23/NOV/2023,07:00,00:00,73P,AD2002,NaN,,F,000,0034000,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6427,MIA,UIO,25/DEC/2023 á 19/MAR/2023,25/DEC/2023 á 19/MAR/2023,00:25,22:50,76V,M38477,M38478,,FF,000,0000007,NaN,NaN,NaN,NaN,NaN
6688,YVR,BOG,30/OCT/2023 á 21/DEC/2023,30/OCT/2023 á 21/DEC/2023,04:30,23:25,76Y,W80925,W80926,,HH,000,1234507,NaN,NaN,NaN,NaN,NaN
6690,YVR,BOG,25/DEC/2023 á 23/MAR/2023,25/DEC/2023 á 23/MAR/2023,04:30,23:25,76Y,W80925,W80926,,HH,000,1234007,NaN,NaN,NaN,NaN,NaN
6691,YVR,BOG,06/JAN/2023 á 24/MAR/2023,06/JAN/2023 á 24/MAR/2023,04:30,23:25,76Y,W80925,W80926,,HH,000,0000500,NaN,NaN,NaN,NaN,NaN
6260,FRA,REC,05/NOV/2023 á 18/MAR/2023,05/NOV/2023 á 18/MAR/2023,00:20,22:20,77X,GEC8254,GEC8255,,FF,000,0000060,NaN,NaN,NaN,NaN,NaN

In [199]:
df_geral.to_excel(f'SIR - MALHA {datetime.date.today()}.xlsx')